*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans",sans-serif;
    font-style: normal;
}
img{
    display:block;
    border: none;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans.ttf');
    /*src: url('fonts/FCKaiserCondWeb-Extralight.eot?#iefix') format('embedded-opentype'),*/
    /*url('fonts/FCKaiserCondWeb-Extralight.ttf') format('truetype'),*/
    /*url('fonts/FCKaiserCondWeb-Extralight.svg#NeuesBauenDemo') format('svg');*/
    font-weight: normal;
    font-style: normal;
}



.go{

    position: fixed;
    bottom: 50px;
    right: 10px;

}
#go {
    background: url("../img/lan/fanhui.jpg");
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 100;
    width: 45px;
    height: 45px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0 #000000;
}

#go:hover{
    background: url("../img/lan/fanhui-1.jpg");
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 100;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.nav-fixed{
    position: fixed;
    top: 0;
    z-index: 500;
}



.nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}
.nav-cent{
    width: 1180px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.nav-L{
    float: left;
}
.nav-R{
    float: right;
    color:#777;
}
.nav-L li{
    float: left;
    margin-right: 30px;
}
.nav-L li a:hover{
    color: #333;
}
.nav-L li a{
    color:#2188fd;
}
.nav-R li{
    float: left;
    margin-left: 30px;
}
.nav-R li a{
    color:#333333;
}
.nav-R li a.a1{
    position: relative;
    display: block;
    width: 75px;
    background: url("../img/xiaotu/xiaobiao.jpg")no-repeat 65px 30px;
}
.nav-R li a.a2{
    display:block;
    width: 42px;
    background: url("../img/xiaotu/xiaobiao.jpg")no-repeat 30px 30px;
}
.nav-R li a.a3{
    color:#2188fd;
    display: block;
    width: 72px;
    background: url("../img/xiaotu/dakai.jpg")no-repeat 52px 22px;
}
.nav-R li a.a3:hover{
    color:#333333;
    display: block;
    width: 72px;
    background: url("../img/xiaotu/dakai1.jpg")no-repeat 52px 22px;
}
.a1-ul{
    position: absolute;
    background: #ffffff;
    z-index:1;
    width:170px;
    height:150px;
    box-shadow:1px 1px 10px 1px #e0e0e0;
    text-align:left;
    padding-top:20px;
    display:none;
}
.a1-ul li a,.a1-ul1 li a{
    display: block;
    width: 190px;
    line-height: 32px;
}
.a1-ul li a:hover{
    color:#2188fd;
}
.a1-ul1 li a:hover{
    color:#2188fd;
}


.a1-ul1-po{
    position: relative;
}
.a1-ul1{
    position: absolute;
    background: #ffffff;
    z-index:1;
    width:170px;
    height:150px;
    box-shadow:1px 1px 10px 1px #e0e0e0;
    text-align:left;
    padding-top:20px;
    top: 60px;
    left: -75px;
    display:none;
}

/*电话*/
.tel{
    width: 100%;
    height: 124px;
}
.tel1{
    height: 124px;
    line-height: 62px;
    width: 1180px;
    margin: 0 auto;
}
.tel1 img{
    float: left;
}
.tel1 .tel-L{
    width: 335px;
    height: 60px;
    float: left;
    margin: 30px 0;
}
.tel1 .tel-L h1{
    height: 20px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}
.tel1 .tel-L h1 a{
    color: #2188fd;
}
.tel1 .tel-L span a{
    font-size: 16px;
    color: #333;
}
.tel-R{
    width: 735px;
    float: right;
}
.tel-R ul.tel-ul{
    margin-top: 7px;
    width: 225px;
    float: left;
}
.tel-R ul.tel-ul li{
    height: 22px;
    text-align: right;
}
.tel-R ul.tel-ul li a{
    color: #333333;
    font-weight: 400;
    font-size: 22px;
}

.tel-ul-li{
    font-size: 12px;
    color: #777;
}
.tel-ul1,.tel-ul2,.tel-ul3{
    width: 115px;
    float: left;
    margin: 28px 0 0 55px ;
}
.tel-ul1 li{
    height: 65px;
    background: url("../img/xiaotu/tel-left-1-h.jpg")no-repeat 0 2px;
}
.tel-ul1 li:hover{
    height: 65px;
    background: url("../img/xiaotu/tel-left-1.jpg")no-repeat 0 2px ;
}
.tel-ul2 li{
    height: 65px;
    background: url("../img/xiaotu/tel-left-2-h.jpg")no-repeat  ;
}
.tel-ul2 li:hover{
    height: 65px;
    background: url("../img/xiaotu/tel-left2.jpg")no-repeat  ;
}
.tel-ul3 li{
    height: 65px;
    background: url("../img/xiaotu/tel-left-3-h.jpg")no-repeat 10px -2px;
}
.tel-ul3 li:hover{

    height: 65px;
    background: url("../img/xiaotu/tel-left3.jpg")no-repeat 9px -2px;
}
.tel-R ul li{
    position: relative;
}
.tel-R ul li i{
    display: block;
    height: 65px;
    border-left: 1px solid #cccccc;
    position: absolute;
    left: -25px;
}
.tel-ul3-li{
    text-align: right;
}
/*导航*/
.nav-2{
    width: 100%;
    height: 70px;
    background:#2188fd ;
}
.nav-3{
    width: 1180px;
    margin: 0 auto;
}
.nav-3 ul.nav-2-L-ul li.zi{
    border-top:5px solid transparent;
    float: left;
    height: 60px;
    width: 95px;
    background: url("../img/xiaotu/d-1.jpg")no-repeat 0 13px;
}
.nav-3 ul.nav-2-L-ul li.zi:hover i {
    transform:rotateX(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateX(0deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
}






.nav-2-L3 i{
    position: absolute;
    display: block;
    width: 190px;
    top: -5px;
    height: 5px;
    border-top:5px solid #fff;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg);
}
.nav-3 ul.nav-2-L-ul1 li.zi:hover i.ai{
    transform:rotateX(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateX(0deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
}








.nav-2-L4{
    position: relative;
}
.nav-2-L4 i{
    position: absolute;
    display: block;
    width: 90px;
    top: -5px;
    height: 5px;
    border-top:5px solid #fff;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg);
}


.nav-3 ul.nav-2-L-ul li.dian{
    float: left;
    width: 15px;
    height: 15px;
    padding: 28px 12px 0 20px;
}
.nav-2-L-ul1 li.zi{
    position: relative;
    border-top:5px solid transparent;
    float: left;
    height: 67px;
    width: 195px;
    background: url("../img/xiaotu/d-2.jpg")no-repeat 0 25px;
}
.zi-bot{
    display: none;
    position: absolute;
    top: 65px;
    padding: 30px;
    left: -150px;;
    width: 970px;
    height: 300px;
    background: #ffffff;
    z-index: 1;
}
.zi-bot-1{
    position: absolute;
    top: 50px;
    margin: 0 20px;
    width: 100%;
}

.zi-bot-1 .border-1{
    width: 700px;
    position: absolute;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
}
.zi-bot-1 li h4{
    background: #ffffff;
    padding-right: 15px;
    position: absolute;
    font-size: 30px;
    top: 25px;
    left: 25px;
}
.zi-bot-2{
    margin-left:23px;
    width: 170px;
    height: 245px;
    margin-top: 50px;
    border-right: 1px solid #cccccc;
    float: left;
}



.zi-bor{
    border: none;
}
.zi-bot-2 li a{
    line-height: 40px;
    color: #2188fd;
    font-weight: bold;
}
.zi-bot-input input{
    width: 80px;
    height: 30px;
    border: 2px solid #2188fd;
    border-radius: 2px;
    background: #2188fd;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.zi-bot-input a:hover input{
    background: #fff;
    font-weight: bold;
    color: #2188fd;
}
.zi-bot-2 .zi-bot-22 a{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.nav-2-L-ul1{
    position: relative;
    z-index: 300;
}
.nav-2-L3{
    position: relative;
}




.nav-3 ul.nav-2-L-ul1 li.dian{
    float: left;
    width: 15px;
    height: 15px;
    padding: 28px 12px 0 20px;
}
.nav-2-L-ul2 li.zi{
    border-top:5px solid transparent;
    float: left;
    height: 60px;
    width: 160px;
    background: url("../img/xiaotu/d-3.jpg")no-repeat 0 23px;
}
.nav-3 ul.nav-2-L-ul2 li.zi:hover i{
    transform:rotateX(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateX(0deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.nav-2-L2{
    position: relative;
}
.nav-2-L2 i{
    position: absolute;
    display: block;
    width: 160px;
    top: -5px;
    height: 5px;
    border-top:5px solid #fff;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg);
}





.nav-3 ul.nav-2-L-ul2 li.dian{
    float: left;
    width: 15px;
    height: 15px;
    padding: 28px 12px 0 20px;
}
.nav-2-L-ul3 li.zi{
    border-top:5px solid transparent;
    float: left;
    height: 60px;
    width: 70px;
    background: url("../img/xiaotu/d-4.jpg")no-repeat 0 11px;

}



.nav-3 ul.nav-2-L-ul3 li.zi:hover i{
    transform:rotateX(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateX(0deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.nav-2-L1{
    position: relative;
}
.nav-2-L1 i{
    position: absolute;
    display: block;
    width: 70px;
    height: 5px;
    top: -5px;
    border-top:5px solid #fff;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg);
}

.nav-2-R{
    float: right;
    margin: 21px;
    padding: 0 15px;
    border-left: 1px solid #ffffff;
}
.nav-2-R a:hover img{
    background:url("../img/xiaotu/search.png");
}






/*轮播图*/

.tab-div{
    margin: 0 auto;
    width: 1200px;
}
.tab ul{
    position: absolute;
    bottom: 30px;
    width: 1200px;
}
.tab ul li img{
    width: 270px;
    height: 112px;
    float: left;
    margin:0 15px;
}



#outer {
    position: relative;
    width: 100%;
    height: 800px;
    top:-2px;
    overflow: hidden;
}
#inner {
    width: 100%;
    height:100%;
    overflow: hidden;
    background: #ccc;
    cursor: pointer;
}
#inner div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#div1{
    position: absolute;
    bottom: 20px;
    left: 30%;
    height: 78px;
    line-height: 78px;
    background: black;
    opacity: 0.4;
}
#tip {
    position: absolute;
    width: 1180px;
    height: 112px;
    bottom: 20px;
    left: 50%;
    margin-left: -590px;
    padding: 9px 0;
}
#tip li i{
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 270px;
    height: 8px;
    background: #ffffff;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg)
}
#tip li:hover i{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#tip li {
    position: relative;
    margin-left: 20px;
    width: 270px;
    height: 112px;
    float: left;
    cursor: pointer;
    opacity: 1;
}
#tip li img{
    width: 100%;
    height: 100%;
}
#tip li span{
    display: none;
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 270px;
    height: 8px;
    background: #ffffff;
}
#tip li.select {
    /*border-bottom: 8px solid #ffffff;*/
    opacity: 1;
}
#outer{
    position: relative;
}
#outer>a {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height: 50px;
    background: url("../img/pre.png") no-repeat 0 0;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

#outer .innerLeft {

    left: 20px;
}

#outer .innerRight {
    right: 20px;
    background-position: -50px 0;
}

#outer a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#inner div ul{
    position: absolute;
    width: 700px;
    top: 110px;
    text-align: left;
    color: #ffffff;
    font-size:20px;
    z-index: 10;
    left: -1500px;

}
.ul-cl li {
    color: #2188fd;
}

#inner div ul li h1{
    width: 600px;
    font-size:80px;
    margin-top: 10px;
}
#inner div ul li h5{
    margin-top: 80px;
    font-size:25px;
}
#inner div ul li p{
    font-size:16px;
    font-weight: bold;
}
#inner div ul li a input{
    margin-top: 35px;
    width: 175px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    background: #2188fd;
    border: 2px solid #2188fd;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
}
#inner div ul li a:hover input{
    background: #ffffff;
    color: #2188fd;
}




























.lan{
    width: 100%;
    height: 330px;

}
.lan .lan-1{
    width: 1200px;
    height: 330px;
    margin: 0 auto;
}
.lan .lan-1 li i{
    display: block;
    width: 196px;
    height: 190px;
    position: absolute;
    background: #2188fd;
    top: -30px;
    right: -55px;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg)
}


.lan .lan-1 li{
     position: relative;
     float: left;
     margin: 100px 50px;
     /*background: url("../img/lan/lan1.jpg")no-repeat 0 0;*/
 }
/*.lan .lan-1 li:hover{*/
    /*background: url("../img/lan/lan2.jpg")no-repeat 0 0;*/
/*}*/




.lan .lan-1 li.lan-1-li1{
    width: 90px;
    height: 120px;
    margin-left: 140px;
}
.lan .lan-1 li a:hover i{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    background: url("../img/lan/lan-1.jpg") no-repeat;
}
.lan-1 ul li a img{
    height: 125px;
    width: 95px;
}



    /*商品*/


.lie .lie-L{
    width: 100%;
    border-top: 1px solid #cccccc;
    margin-top: 15px;
}
.lie .lie-cent{
    font-size: 22px;
    text-align: center;
    display: block;
    background: #ffffff;
    width: 200px;

    margin: -12px auto;
}
.modity{
    width: 100%;
    height: 700px;
}
.modity .modity1{
    width: 1200px;
    margin: 0 auto;
}





/*动画*/
.modity .modity1 .modity-ul {
    width: 220px;
    height: 490px;
    padding: 30px 5px;
    border-right:1px solid #cccccc;
    margin: 95px 0 ;
    position: relative;
}
.modity-ul .touming{
    position: absolute;
    width: 220px;
    height: 190px;
    background: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=0);
    top: 125px;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg)
}
.bott-bor{
    position: absolute;
    margin-left: -5px;
    width: 100%;
    height: 6px;
    background:#ccc;
    bottom: 0;
    transform:rotateX(90deg);
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateX(90deg)
}
.modity-ul:hover .bott-bor{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition: 0.8s;
    -webkit-transition: 0.8s;
}
.modity-ul:hover .touming{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition: 0.8s;
    -webkit-transition: 0.8s;
}


.modity .modity1 .modity-ul li .modity-ul-img{
    margin-left:35px;
}
.modity .modity1 .modity-ul li a{
    display: block;
    text-align: center;
    color: #2188fd;
    line-height: 25px;
}
.modity .modity1 .modity-ul li .modity-a{
    color: #333;
    font-weight: 300;
}
 .modity-ul2 li{
    float: left;
    margin:10px auto;
}
.modity-ul2 li a img{
    height: 22px;
    padding: 4px 10px;
    border-left: 1px solid #cccccc;
}
.modity-ul2 li a .modity-ul2-img{
    margin-left:40px;
    border: none;
}
.modity1 .modity-ul{
    float: left;
}
.modity .modity1  .left{
    border: none;
}
/*电话*/
.phone{
    width: 100%;
    height: 420px;
}
.phone .phone1{
    width: 100%;
    margin: 0 auto;
}
.phone .phone1 .phone1-ul{

}
.phone1 ul.phone1-ul li.ph-1{
    position: relative;
    float: left;
    width: 33.333%;
    height: 40%;
}
.phone1 ul.phone1-ul li.ph-1 img{
  width: 100%;

}
.phone .phone1 ul.phone1-ul li.phone1-li i{
    position: absolute;
    display: block;
    width: 47px;
    height: 47px;
    bottom: 3%;
    right: 3%;
    background: url("../img/lan/butt-1.jpg") no-repeat;
}
.phone .phone1 ul.phone1-ul li.phone1-li1 i{
    position: absolute;
    display: block;
    width: 47px;
    height: 47px;
   bottom: 3%;
    right: 3%;
    background: url("../img/lan/butt-1.jpg") no-repeat;
}
.phone .phone1 ul.phone1-ul li.phone1-li i:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    background: url("../img/lan/butt-1bg.jpg") no-repeat;
}
.phone .phone1 ul.phone1-ul li.phone1-li1 i:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    background: url("../img/lan/butt-1bg.jpg") no-repeat;
}

/*.phone .phone1 ul.phone1-ul li img{*/
    /*width: 633px;*/
/*}*/

.transport{
    width: 100%;
    height:255px;
    margin-top: 95px;
}
.transport .transport1{
    width: 400px;
    margin: 10px auto;
    text-align: center;
    height:255px;
    display:inline-block;
    border-right: 1px solid #cccccc;
}
.transport .border{
    border-right: none;
}
.transport-auto{
    width: 1230px;
    margin: 0 auto;
}

.transport1-cent li.transport1-cent-li{
    width: 55px;
    height: 45px;
    margin: 30px auto;
    display:block;
    background:url("../img/xiaotu/che.jpg");
}
.transport1-cent li.right{
    background:url("../img/xiaotu/youjian.jpg");
}
.transport1-cent li.cent{
    background:url("../img/xiaotu/xiang.jpg");
}
.transport1-cent li h3{
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}
.transport1-cent li p{
    width: 310px;
    margin: 0 auto;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.transport1-cent input{
    width: 180px;
    height: 40px;
    margin-top: 40px;
    border: 2px solid #2188fd;
    border-radius: 2px;
    background: #2188fd;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.transport1-cent a:hover input{
    background: #fff;
    font-weight: bold;
    color: #2188fd;
}
/*地图*/
.Map{
    width: 100%;
    margin-top: 110px;
}
.Map img{
    width: 100%;
}
/*底部*/
.foot2{
    width: 100%;
    height: 730px;
    background:#2188fd;
    padding: 90px 0;
}
.foot2 .foot1{
    width: 1190px;
    margin: 0 auto;
}
.footUl{
    margin-left: 50px;
    float: left;
    height: 370px;
    width: 240px;
    border-right: 1px solid #ccc;
}
.foot2 .foot1 h4{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.footUl li a{
    color: #ffffff;
    line-height: 30px;
    font-weight: bold
}
.foot-ul{
    border:none;
}



