@charset "utf-8";

.icon-arrow{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: text-top;
}
.arrow-white-r{
    background: url('/images/icon-arrow-w-r.png') center no-repeat;
    background-size: 0.46rem 0.83rem;
}
.arrow-gray-r{
    background: url('/images/icon-arrow-g-r.png') center no-repeat;
    background-size: 0.46rem 0.83rem;
}
.arrow-yellow-b{
    background: url('/images/icon-arrow-y-b.png') center no-repeat;
    background-size: 0.83rem 0.46rem;
}
.arrow-yellow-t{
    background: url('/images/icon-arrow-y-t.png') center no-repeat;
    background-size: 0.83rem 0.46rem;
}

/*--buttons--*/
.btn-group{
    margin-left: 0.71rem;
    padding: 0.75rem 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn-group .btn{
    margin-right: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 1.375rem;
    outline: none;
    padding: 0.75rem;
    width: 7rem;
    font-size: 1rem;
    display: inline-block;
}
.btn-group .btn-confirm{
    border: 1px solid #e5d09d;
    color: #ffffff;
    background: #e5d09d;
}
.btn-group .btn-cancel{
    border: 1px solid #e5d09d;
    color: #e5d09d;
    background: #ffffff;
}