@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
}

html {
    font-size: 100px;
}

/*--初始化Swiper的样式--*/
.swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
}

/*--第一屏幕--*/
.page1 {
    position: relative;
    background:#d9eef4;
    background-size: 100% 100%;
}

.page1 img {
    position: absolute;
}

.page1 img:nth-child(1) {
    top: 2.15rem;
    right: 0;
    width: 2.825rem;
    height: 2.175rem;
    opacity: 0;
}
.page1 img:nth-child(2) {
    left: 0.375rem;
    top: 0.25rem;
    width: 0.78rem;
}
.page1 img:nth-child(3) {
    right: 0.25rem;
    top: 0.25rem;
    width: 0.85rem;
}
.page1 img:nth-child(4) {
    right: 0.25rem;
    bottom: 0.25rem;
    width: 0.915rem;
}
#page1 img:nth-child(1) {
    -webkit-animation: bounceInRight 2.1s both;
    animation: bounceInRight 2.1s both;
}

/*--第二屏幕--*/
.page2 {
    position: relative;
    background: #f6f5f5;
}
.page2 img {
    position: absolute;
}

.page2 img.img1 {
    top: 0.45rem;
    left: 0.24rem;
    width: 1.385rem;
}

.page2 img.img2 {
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
}
.page2 div{
    position: absolute;
    bottom: 2rem;
    left: 0.675rem;
    width: 0.31rem;
    height: 0.31rem;
    opacity: 0;
}
.page2 div img#xia {
    position: absolute;
    bottom: 0;
    width: 0.285rem;
}
.page2 div img#shang {
    position: absolute;
    width: 0.125rem;
    left: 0.17rem;
    top: 0;
}
.page2 img.img3 {
    top: 0.275rem;
    right: 0.25rem;
    width: 0.375rem;
}

.page2 img.img4{
    left: 0.36rem;
    width: 2.16rem;
    bottom: 0.62rem;
    opacity: 0;
}

/*设置第二屏幕的动画*/
#page2 img:nth-child(5) {
    -webkit-animation: bounceInUp11 1.2s both;
    animation: bounceInUp11 1.2s both;
}
#page2 div {
    -webkit-animation: bounceInDleft 1s 0.3s  linear;
    animation: bounceInDleft 1s 0.3s  linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#page2 img#shang{
    -webkit-transform-origin:right;
    transform-origin:right;
    -webkit-animation: zoomIn 1s infinite linear;
    animation: zoomIn 1s  infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#page2 img#xia{
    -webkit-transform-origin:right;
    transform-origin:right;
    -webkit-animation: zoomIn 1s 0.5s infinite linear;
    animation: zoomIn 1s  0.5s infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
/*--第三屏幕--*/
.page3 {
    position: relative;
    background: url("../images/03_bg.png") no-repeat;
    background-size: 100% 100%;
}

.page3 img {
    position: absolute;
}

.page3 img:nth-child(1) {
    bottom: 1.075rem;
    left: 0.275rem;
    width: 0.825rem;
    z-index: 5;
}

.page3 img:nth-child(2) {
    bottom: 0.975rem;
    left: 1.2rem;
    width: 0.14rem;
    z-index: 5;
    opacity: 0;
}

.page3 img:nth-child(3) {
    position: absolute;
    bottom: 1.725rem;
    left: 1.25rem;
    width: 0.625rem;
    z-index: 5;
}

.page3 img:nth-child(4) {
    bottom: 1.3rem;
    left: 1.375rem;
    width: 0.335rem;
    z-index: 5;
    opacity: 0;
}

.page3 img:nth-child(5) {
    bottom: 1.075rem;
    right: 0.275rem;
    width: 0.89rem;
    z-index: 5;
}

.page3 img:nth-child(6) {
    bottom: 0.975rem;
    right: 1.27rem;
    width: 0.23rem;
    z-index: 5;
    opacity: 0;
}

.page3 img:nth-child(7) {
    bottom: 0.25rem;
    width: 1.4rem;
    left: 50%;
    margin-left: -0.7rem;
    opacity: 0;
}
/*第3页动画*/
#page3 img:nth-child(2) {
    -webkit-animation: bounceInD1 1.3s 2.3s both infinite;
    animation: bounceInD1 1.3s 2.3s both infinite;
}
#page3 img:nth-child(4) {
    -webkit-animation: bounceInD 1.4s 1.6s both infinite ;
    animation: bounceInD 1.4s 1.6s  both infinite ;
}
#page3 img:nth-child(6) {
    -webkit-animation: bounceInD2 2s 1s both infinite ;
    animation: bounceInD2 2s 1s  both infinite ;
}
#page3 img:nth-child(7) {
    -webkit-animation: bounceInUp 1s  both  ;
    animation: bounceInUp 1s   both  ;
}
@-webkit-keyframes bounceInD {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInD {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounceInD1 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }


    from {
        opacity: 0;
        -webkit-transform: translate3d(-20px, -5px, 0);
        transform: translate3d(-20px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInD1 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(-20px, -5px, 0);
        transform: translate3d(-20px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounceInD2 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }


    from {
        opacity: 0;
        -webkit-transform: translate3d(10px, -5px, 0);
        transform: translate3d(10px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInD2 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(10px, -5px, 0);
        transform: translate3d(10px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounceInDleft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }


    from {
        opacity: 0;
        -webkit-transform: translate3d(10px, -5px, 0);
        transform: translate3d(10px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDleft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(110px, -5px, 0);
        transform: translate3d(110px, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 1;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes zoom11 {
    from {
        opacity: 1;

    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom11 {
    from {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
/*--第四屏幕--*/
.page4 {
    position: relative;
    background: #ffffff;
}
.page4 img {
    position: absolute;
}

.page4 img:nth-child(1) {
    bottom: 0;
    left: 0.2rem;
    width: 2.4rem;
    z-index: 5;
}
.page4 img:nth-child(2) {
    top: 0.55rem;
    left: 1.05rem;
    width: 0.35rem;
    opacity: 0;
}
.page4 img:nth-child(3) {
    top: 0.25rem;
    right: 0.275rem;
    width: 0.4rem;
}
.page4 img:nth-child(4) {
    top: 1.45rem;
    left: 0.7rem;
    width: 1.075rem;
    z-index: 2;
    opacity: 0;
}
.page4 img:nth-child(5) {
    bottom: 0.5rem;
    left: 0.65rem;
    width: 1.265rem;
    z-index: 1;
}
/*第四页动画*/
#page4 img:nth-child(4) {
    -webkit-animation: bounceInUp11 1.2s both;
    animation: bounceInUp11 1.2s both;
}
#page4 img:nth-child(2) {
    -webkit-animation: slideInUp 1.5s 0.4s both infinite ;
    animation: slideInUp 1.5s 0.4s  both infinite ;
}
/*--第5屏幕--*/
.page5 {
    position: relative;
    background: url("../images/05_bg.png") no-repeat;
    background-size: 100% 100%;
}

.page5 img {
    position: absolute;
}
.page5 div{
    position: absolute;
    width: 2.125rem;
    height:3.25rem ;
    z-index: 6;
    bottom: 1.5rem;
    left: 0rem;
}
.page5 div img.xinhao {
    top:0rem;
    left: 0.09rem;
    width: 0.145rem;
    z-index: 3;
    opacity: 0;
}
.page5 div img.next  {
    bottom:0.1rem;
    left: 1.08rem;
    width: 0.13rem;
    z-index: 5;
    opacity:0;

}
.page5 div img.pver {
    top:0.24rem;
    left: 1.08rem;
    width: 0.13rem;
    z-index: 5;
    opacity: 0;
    z-index: 999;
}
.page5 img.zhong {
    bottom: 0.75rem;
    left: 1.325rem;
    width: 1.185rem;
    z-index: 2;
    opacity:0;
}
.page5 img.xia{
    bottom: 0.2rem;
    left: 1.8rem;
    width: 1.1rem;
    z-index: 1;
    opacity:0;
}
.page5 img.jiantou {
    bottom: 0.23rem;
    left: 0.35rem;
    width: 1.1rem;
    z-index: 3;
}


.page5 iframe{
    position: absolute;
    top: 0.11rem;
    left: 0.2rem;
    border: none;
    z-index: 3;
    height: 2.54rem;
    width: 1.79rem;
    margin: 0;
    overflow-x: hidden;
    background: #ffdd35;
    padding:0.3rem 0.06rem;
    border-radius: 0.04rem;
}
/*第5页动画*/
#page5 img.zhong {
    -webkit-animation: bounceInUp 1.2s 0.3s both;
    animation: bounceInUp 1.2s 0.3s both;
}
#page5 img.xia {
    -webkit-animation: bounceInUp 1.2s 0.5s both;
    animation: bounceInUp 1.2s 0.5s both;
}
#page5 img.xinhao {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: zoom11 0.4s 1.2s infinite ;
    animation: zoom11 0.4s 1.2s infinite ;
}

#page5 img.btn_next {
    -webkit-animation: bounce11 1s both infinite;
    animation: bounce11 1s both infinite;
}

#page5 img.btn_pver {
    -webkit-animation: bounce22 1s 0.5s both infinite;
    animation: bounce22 1s 0.5s both infinite;
}
#page5 div{
    -webkit-animation: bounceInUp 1.2s both;
    animation: bounceInUp 1.2s both;
}
iframe::-webkit-scrollbar{
    width:0;
    height:0;
}

/*--第6屏幕--*/
.page6 {
    position: relative;
    background: #d9eef4;
    text-align: center;
}
.page6 img{
    display: block;
}
.page6 img:nth-child(1) {
    width: 2.35rem;
    margin: 0.3rem auto 0;
}
.page6 img:nth-child(2) {
    width: 0.35rem;
    margin: 0.15rem auto 0;
}
.page6 img:nth-child(3) {
    width: 1.96rem;
    margin: 0.15rem auto 0;
}
.page6 img:nth-child(4) {
    width: 0.625rem;
    margin:0.15rem  auto 0;
}
.page6 img:nth-child(5) {
    width:1.8rem;
    margin: 0.45rem auto 0;
}
.page6 img:nth-child(6) {
    position: absolute;
    top: 2.47rem;
    left: 1.06rem;
    width:0.15rem;
}
.page6 img:nth-child(7) {
    position: absolute;
    top: 2.37rem;
    left: 1.25rem;
    width:0.075rem;
}
.page6 img:nth-child(8) {
    position: absolute;
    top: 2.4rem;
    left: 1.93rem;
    width:0.11rem;
    /*opacity: 0;*/
}
.page6 img:nth-child(9) {
    position: absolute;
    top: 3.4rem;
    left: 1.23rem;
    width:0.11rem;
}
.page6 img:nth-child(10) {
    position: absolute;
    top: 3.35rem;
    left: 1.37rem;
    width:0.075rem;
}
.page6 img:nth-child(11) {
    position: absolute;
    top: 3.5rem;
    left: 1.37rem;
    width:0.055rem;
}
.page6 img:nth-child(12) {
    position: absolute;
    top: 3.46rem;
    left: 1.8rem;
    width:0.07rem;
}
.page6 img:nth-child(13) {
    position: absolute;
    top: 3.33rem;
    left: 1.85rem;
    width:0.15rem;
}
/*第6页动画*/
#page6 img:nth-child(6) {
    -webkit-animation: zoomIn 1.5s   infinite alternate linear;
    animation: zoomIn 1.5s   infinite alternate linear;
}
#page6 img:nth-child(7) {
    -webkit-animation: zoomIn 1s .6s  infinite alternate linear;
    animation: zoomIn 1s  .6s infinite alternate linear;
}
#page6 img:nth-child(8) {
    -webkit-animation: zoomIn 1.2s 1s  infinite alternate linear;
    animation: zoomIn 1.2s  1s infinite alternate linear;
}
#page6 img:nth-child(9) {
    -webkit-animation: zoomIn 1s .4s infinite alternate linear;
    animation: zoomIn 1s  .4s infinite alternate linear;
}
#page6 img:nth-child(10) {
    -webkit-animation: zoomIn .7s .8s infinite alternate linear;
    animation: zoomIn .7s  .8s infinite alternate linear;
}
#page6 img:nth-child(11) {
    -webkit-animation: zoomIn 1.6s  infinite alternate linear;
    animation: zoomIn 1.6s   infinite alternate linear;
}
#page6 img:nth-child(12) {
    -webkit-animation: zoomIn 1.2s .8s infinite alternate linear;
    animation: zoomIn 1.2s  .8s infinite alternate linear;
}
#page6 img:nth-child(13) {
    -webkit-animation: zoomIn 1.5s   infinite alternate linear;
    animation: zoomIn 1.5s   infinite alternate linear;
}
/*--借用CSS3的Animate.css帧动画库的运动公式--*/
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 80%, 0);
        transform: translate3d(0, 80%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 70%, 0);
        transform: translate3d(0, 70%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }

    15% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
    }


    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    }

    75% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    15% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -30deg);
    }


    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 30deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}@-webkit-keyframes bounceInRight {
     from, 60%, 75%, 90%, to {
         -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
     }

     0% {
         opacity: 0;
         -webkit-transform: translate3d(-1000px, 0, 0);
         transform: translate3d(-1000px, 0, 0);
     }
     75% {
         -webkit-transform: translate(0);
         transform: translate(0);
     }

     90% {
         -webkit-transform: translate(0);
         transform: translate(0);
     }

     to {
         -webkit-transform: translate(0);
         transform: translate(0);
         opacity: 1;
         -webkit-transform: none;
         transform: none;
     }
 }

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0);
    }

    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInUp11 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp11 {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounce11 {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
    to{
        opacity: 1;
    }
}

@keyframes bounce11 {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    to{
        opacity: 1;
    }
}
@-webkit-keyframes bounce22 {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
    to{
        opacity: 1;
    }
}

@keyframes bounce22 {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    to{
        opacity: 1;
    }
}
@media all and (max-height: 480px){
    .page4 img:nth-child(4) {
        top: 1.45rem;
        left: 0.77rem;
        width: 0.9rem;
        z-index: 2;
        opacity: 0;
    }
    .page6 img:nth-child(1) {
        width: 2.2rem;
        margin: 0.1rem auto 0;
    }
    .page6 img:nth-child(5) {
        width: 1.8rem;
        margin: 0.23rem auto 0;
    }
    .page4 img:nth-child(4) {
        top: 1.45rem;
        left: 0.77rem;
        width: 0.9rem;
        z-index: 2;
        opacity: 0;
    }
    .page6 img:nth-child(6) {
        position: absolute;
        top: 2.22rem;
        left: 1.06rem;
        width:0.15rem;
    }
    .page6 img:nth-child(7) {
        position: absolute;
        top: 2.12rem;
        left: 1.25rem;
        width:0.075rem;
    }
    .page6 img:nth-child(8) {
        position: absolute;
        top: 2.15rem;
        left: 1.93rem;
        width:0.11rem;
        /*opacity: 0;*/
    }
    .page6 img:nth-child(9) {
        position: absolute;
        top: 3.15rem;
        left: 1.23rem;
        width:0.11rem;
    }
    .page6 img:nth-child(10) {
        position: absolute;
        top: 3.1rem;
        left: 1.37rem;
        width:0.075rem;
    }
    .page6 img:nth-child(11) {
        position: absolute;
        top: 3.25rem;
        left: 1.37rem;
        width:0.055rem;
    }
    .page6 img:nth-child(12) {
        position: absolute;
        top: 3.21rem;
        left: 1.8rem;
        width:0.07rem;
    }
    .page6 img:nth-child(13) {
        position: absolute;
        top: 3.08rem;
        left: 1.85rem;
        width:0.15rem;
    }
}

