@charset "utf-8";
/* CSS reset */
html{color:#494949;background:#f2f2f2;font-family:Helvetica;}
html,body{-moz-user-select: none; -khtml-user-select: none; user-select: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
em,i,strong {font-style: normal;}
li{list-style:none;}
fieldset,img{border:0;}
input {border: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
input,textarea {border: 0;outline: none;background: none;color:#898989;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none; color:#494949; outline:none;}/*此处待添加默认链接颜色*/
.clearfix:after {content: "\200B";display: block;height: 0;overflow: hidden;clear: both;}
.clearfix {*zoom: 1;}
/*自定义*/
a{ text-decoration: none; outline: none; }
.fr{float: right;}
.fl{float: left;}
.payment-price{
    width: 100%;
    padding: 1.5rem 0;
    background: #ffffff;
}
.price-wrap{
    width: 85%;
    height: 3rem;
    margin: 0 auto;
    display: block;
    padding: 0 .5rem;
    border: 1px solid #e0e0e0;
    background: #f8f8f8;
    border-radius: .5rem;
}
.payment-price span{
    line-height: 3rem;
    font-size: 1.0rem;
    text-indent: 1rem;
}
.payment-price .input-content{
    float: right;
    height: 3rem;
    font-size: 1.4rem;
}
.input-content em{
    line-height: 3rem;
}
.input-content input{
    width: 5rem;
    height: 3rem;
    font-size: 1.4rem;
}
.key-board table{
    width: 100%;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.key-board table td{
    border: 1px solid #e0e0e0;
    height: 5rem;
    text-align: center;
    width: 25%;
    position: relative;
    font-size: 1.2rem;
}
.key-board table .icon-del{
    width: 1.5rem;
    height: 1rem;
    display: block;
    line-height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background: url("/images/payment-icon.png") top center no-repeat;
    background-size: 1.5rem auto;
}
.pay-btn{
    background: #e0cb9a;
    color: #ffffff;
}
@media screen and (orientation:landscape){
    .key-board table td{
        height: 3rem;
    }
}