html {
    font-family: Helvetica;
}

body {
    position: relative;
    background: #222;
}

.box {
    background: url("../../images/act/please/deposit/big_bg.png") no-repeat 0 0.13rem;
    background-size: 100%;
}

.head {
    text-align: center;
}

.head img {
    width: 0.5rem;
    margin-top: 0.075rem;
}

.head p {
    margin-top: 0.11rem;
    color: #efc645;
    font-size: 0.13rem;
    letter-spacing: 0.01rem;
}

.input_text {
    width: 1.975rem;
    margin: 0.85rem 0 0 0.625rem;
}

.input_text .p1 {
    color: #fff;
    font-size: 0.1rem;
    letter-spacing: 0.01rem;
}
.input_text .p2{
    margin-top: 0.25rem;
    font-size: 0.12rem;
    color: #fff;
    letter-spacing: 0.008rem;
}
.input_text .p3{
    text-align: right;
    margin-top: 0.5rem;
    font-size: 0.1rem;
    color: #fff;
    letter-spacing: 0.008rem;
    padding-bottom: 1.24rem;
}
.btn{
    text-align: center;
}
.btn p{
    width: 2.85rem;
    font-size: 0.15rem;
    height: 0.35rem;
    border-radius: 0.35rem;
    margin: 0 auto;
    line-height:  0.35rem;
    letter-spacing: 0.02rem;
}
.btn p.btn_p1{
    color: #fff;
    background: #efc645;
}
.btn p.btn_p2{
    border: 2px solid #efc645;
    margin-top: 0.1rem;
    color: #efc645;
}
/*µ¯¿ò*/
.hei_bg{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.pop_box {
    position: absolute;
    z-index: 5;
    top: 1.075rem;
    left: 50%;
    margin-left: -1.3125rem;
    background: #fff;
    width: 2.625rem;
    height:2.15rem ;
    border-radius: 0.08rem;
}
.pop_box .x{
    position: absolute;
    width: 0.1rem;
    top: 0.15rem;
    left: 0.15rem;
}
.pop_box .v{
    width: 0.2rem;
    position: absolute;
    top: 0.27rem;
    left: 0.675rem;
}
.pop_box p.p1{
    position: absolute;
    top: 0.25rem;
    left: 1rem;
    font-size: 0.18rem;
    color: #efc645;
    letter-spacing: 0.008rem;
}
.pop_box p.p2{
    position: absolute;
    width: 1.35rem;
    top: 0.65rem;
    left:50%;
    margin-left: -0.675rem;
    font-size: 0.12rem;
    color: #989898;
    text-align: center;
    letter-spacing: 0.008rem;
}
.pop_box p.p2 samp{
    color: #efc645;
}
.pop_box p.p2 span{
    font-size: 0.14rem;
}
.pop_box p.p3{
    position: absolute;
    width: 2rem;
    top: 0.86rem;
    left:50%;
    color: #989898;
    margin-left: -1rem;
    font-size: 0.12rem;
    letter-spacing: 0.008rem;
}
.btn_look,.btn_go{
    height: 0.33rem;
    text-align: center;
    line-height: 0.33rem;
    border-radius: 0.33rem;
    font-size: 0.14rem;
    letter-spacing: 0.026rem;
}
.btn_look{
    margin: 1.24rem auto 0;
    width: 2.1rem;
    background: #efc645;
    color: #fff;
}
.btn_go{
    margin: 0.07rem auto 0;
    width: 2.08rem;
    border: 2px solid #efc645;
    color: #efc645;


}
