html {
    font-family: Helvetica;
}

.box,.card{
    text-align: center;
}
.box_img{
    margin-top: 0.45rem;
    width: 1.35rem;
}
.box p{
    font-size:0.16rem ;
    color:#525151 ;
    letter-spacing: 0.003rem;
}
.box p span{
     font-size:0.17rem ;

 }
.card img{
    width: 2.85rem;
    margin-top: 0.375rem;
}
.card p{
    color: #777;
    font-size:0.135rem ;
    letter-spacing: 0.001rem;
    margin-top: 0.1rem;
    line-height: 0.22rem;
}