/*****
common.css
*****/
/*Icon-Font*/
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1459219165'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1459219165#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1459219165') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1459219165') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1459219165#iconfont') format('svg'); /* iOS 4.1- */
}
body{font-family: "Microsoft YaHei";font-size:16px;color:#3e3a3b;}
a{transition: .5s;-webkit-transition: .5s;}
a:focus,a:visited,a:hover{ text-decoration: none;}
.all-container{padding:80px 0 0;background: #fff; position: relative; }
.container{max-width:1200px;padding-left:10px;padding-right:10px;}
.content{padding-top:80px;padding-bottom:80px;}
.bg{background:#efefef}
/*Header*/
header{width:100%;height:80px;padding:20px 0;position:fixed;left:0;top:0;background: #fff;z-index:10; }
@media only screen and (max-width:1400px) {
    .container{padding-left:30px;padding-right:30px;}
}
@media only screen and (max-width:992px) {
    .content{padding-top:30px;padding-bottom:30px;}
    header{padding-left:0;padding-right: 0;height:50px;padding-top: 10px;}
    main h2{margin-bottom: 25px;font-size:24px;}
    .all-container{padding-left:0;padding-right:0;padding-top:50px}
    .container{padding-left:20px;padding-right:20px;}
    .logo img{max-width:120px;}
    .head_link{padding-top: 2px;}

    .content-title{ margin-bottom: 20px;}
    .content-title h2, .content-title h2 span{font-size:26px;}
    main h2{margin-bottom: 10px;}
    .content-title h4{font-size:16px;}
}
@media only screen and (max-width:992px) {
    .content-title h2, .content-title h2 span{font-size:24px;}
}

.all-container.min{padding-top:50px;}
.all-container.min header{height:50px;padding-top:10px;}
.all-container.min .logo img{max-width:120px;}
.all-container.min #pc-nav,.all-container.min .head_link{padding-top:2px}
.logo{float:left;width:152px;}
.logo img{transition:.8s}
.head_link {float: right;color:#666;font-size:12px;padding-top: 10px}
.head_link a{color:#666;font-size:12px;}
.head_link a:hover{text-decoration:underline}
/*nav*/
#mobile_nav,.wap_navbtn {display:none;}
#pc-nav {transition:position 0.3s;-webkit-transition:position 0.3s;-moz-transition:position 0.3s;padding:0 35px;overflow:hidden;padding-top:10px}
#pc-nav ul{max-width:600px;margin:0 auto;}
#pc-nav li {float:left;padding:0 5%;}
#pc-nav li a {color:#333;font-size:14px;}
#pc-nav li a:hover,#pc-nav li.current a {color:#e73d3e; text-decoration:none;}
#pc-nav li.disable a,#pc-nav li.disable a:hover{ cursor:default;color:#999}
@media only screen and (max-width:992px) {
    #pc-nav,.page .head_link{display:none;}
    #mobile_nav {width:80%;height:100%;display:block;background:#fff;position:fixed;top:0;right:-80%;z-index:3;border-left:1px #e6e6e6 solid; box-shadow:-2px -1px 5px #ccc;-webkit-box-shadow:-2px -1px 5px #ccc;-moz-box-shadow:-2px -1px 5px #ccc;-ms-box-shadow:-2px -1px 5px #ccc;-o-box-shadow:-2px -1px 5px #ccc;}
    #mobile_nav li {height:auto;line-height:60px;border-bottom:1px #e6e6e6 solid}
    #mobile_nav li.current {background:#e5e5e5}
    #mobile_nav li.current a,#mobile_nav li a:hover {color:#e73828}
    #mobile_nav li a {display:block;padding:0 25px;text-decoration:none;font-size:18px;line-height:60px;color:#999;}
    #mobile_nav li.disable a {cursor:default;}
    #mobile_nav li.disable a:hover {color:#999}
    /*=S wap_nav--yangsai*/
    .page .wap_navbtn {
        display: block;
        float: right;
        width: 30px;
        height: 50px;
        padding-top: 14px;
        position: relative;
        cursor: pointer;
        position: relative
    }

    .wap_navbtn span {
        display: inline-block;
        width: 25px;
        height: 2px;
        background: #000;
        bottom: auto;
        right: auto;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 23;
        position: absolute;
        transition: background 0.3s;
    }

    .wap_navbtn span:before, .wap_navbtn span:after {
        content: '';
        display: block;
        background: #000;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .wap_navbtn span:before {
        top: -6px;
    }

    .wap_navbtn span:after {
        bottom: -6px;
    }

    /*--clicked wap_nav--yangsai--*/
    .wap_navbtn.close span {
        background: #fff;
    }

    .wap_navbtn.close span:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
    }

    .wap_navbtn.close span:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 0;
    }
}

/*=E wap_nav--yangsai*/

/*******Banner******/
.banner{ position: relative;}
.banner img{width:100%;}

.wap-banner{display:none;}
.banner-con{ position: absolute;width:100%;height:100%;left:0;top:0;z-index:1;}
.banner-con article{ padding-top:5%; position: relative;z-index: 3}
.banner-con article h1{margin:0 0 20px}
.banner-con article h1,.banner-con article h1 span{color:#f7381d;font-size:64px;line-height: 1.2;}
.banner-con article h3{font-weight: normal;font-size:48px;color:#333;line-height:1;}
.banner-con article a{display:inline-block;background:#d83530;color:#fff;padding: 5px 30px; text-align: center;border-radius: 30px; margin: 40px 0 0;}
.banner-con article a:hover{background:#ba2a25;color:#fff}
@media only screen and (max-width:1680px) {
    .banner-con article h1,.banner-con article h1 span{font-size:58px;line-height: 1;}
    .banner-con article h3{font-size:43px;}
}
@media only screen and (max-width:1400px) {
    .banner-con article h1,.banner-con article h1 span{font-size:50px;}
    .banner-con article h3{font-size:38px;}
}
@media only screen and (max-width:992px) {
    .banner-con article{ padding-top:5%;}
    .banner-con article h1{ margin-bottom: 20px;}
    .banner-con article h1,.banner-con article h1 span{font-size:36px;}
    .banner-con article h3{font-size:26px;}
    .banner-con article a{margin: 20px 0 0;font-size:14px;padding:3px 20px;}

}
@media only screen and (max-width:767px) {
   .wap-banner{display:block;}
    .pc-banner{display:none;}
    .banner-con article{ padding-top:10%;}
    .banner-con article h1,.banner-con article h1 span{font-size:44px;line-height:1.5}
    .banner-con article h1 span{display:block;}
    .banner-con article h3{font-size:24px;}
}
@media only screen and (max-width:640px) {
    .banner-con article h1,.banner-con article h1 span{font-size:38px;}
    .banner-con article h3{font-size:22px;}
}
@media only screen and (max-width:480px) {
    .banner-con article h1,.banner-con article h1 span{font-size:24px;}
    .banner-con article h3{font-size:18px;}
    .banner-con article h1{ margin-bottom: 10px;}
    .banner-con article a{margin:10px 0 0;}
}

/*******Summary*********/
.summary h3{font-size:30px;color:#333; font-weight: normal; margin-bottom: 45px;}
.summary article{padding-right: 5%;}
.summary article p{color:#333;font-size:16px;line-height: 30px; margin-bottom: 10px;}
.summary-text{ margin-bottom: 25px;}
.buy-btn{display:inline-block;background:#d83530;color:#fff;padding: 5px 30px; text-align: center;border-radius: 30px;}
.buy-btn:hover{background:#ba2a25;color:#fff}
.video-a{display:block;position: relative}
.video-a img{width:100%;}
.video-a span{display:block;width:100%;height:100%; position: absolute;left:0;top:0;opacity:0.8; text-align: center}
.video-a i{font-size:88px;color:#fff;margin-top: 24%;display: block; transition: .5s}
.video-a:hover i{color:#e73d3e}
@media only screen and (max-width:992px) {
    .video-a i{font-size:68px;}
    .summary h3{ margin-bottom: 20px;font-size: 26px;}
    .summary article p{font-size:14px;line-height: 26px; margin-bottom: 5px;}
    .summary article{padding-right:10px;}
    .summary-text{ margin-bottom:10px;}
    .buy-btn{font-size:14px}
}
@media only screen and (max-width:767px) {
    .summary article{ margin-bottom:3%}
    .buy-btn{ margin-bottom: 10px;}
}

/******Highlights********/
.highlights{border-top:1px #c9cacc solid;padding-top: 45px; margin-top: 45px;}
.highlights li{ text-align: center;}
.imgbox{ margin-bottom:20px;}
.highlights-title h4{color:#0071bc;font-size:24px; font-weight: normal;line-height: 1.5; margin-bottom:15px;}
.highlights-title p,.highlights-title p span{font-size:16px;line-height: 1.5;}
.highlights-title p span{display:block}
.imgbox img{max-width: 200px;}
@media only screen and (max-width:1400px) {
    .imgbox img{max-width:180px;}
}
@media only screen and (max-width:992px) {
    .highlights{padding-top: 20px; margin-top: 20px;}
    .imgbox img{max-width:140px;}
    .highlights-title h4{font-size:18px; margin-bottom: 5px;}
    .highlights-title p,.highlights-title p span{font-size: 14px;}
}
@media only screen and (max-width:767px) {
    .imgbox{float:left;}
    .imgbox img{max-width:70px;}
    .highlights-title{float:left; text-align: left;padding-left:5%}
    .highlights li{ margin-top:3%;}
}
@media only screen and (max-width:640px) {
    .highlights li{width: 100%;}
    .imgbox img{max-width:50px;}
    .highlights-title h4{font-size:16px;}
}

/***è§£å†³æ–¹æ¡ˆ**/
.content-title{ margin-bottom: 40px; text-align: center;}
.content-title h2,.content-title h2 span{font-size:36px;font-weight: normal;line-height: 1;}
.content-title h4{ margin:10px 0 5px;font-size:18px;}
.content-title h2 span{display:inline-block;padding-left: 19px;border-left:8px #d83530 solid;}
.content-title p{font-size:14px;}
.span-title{position: relative;display: inline-block;padding-right:27px;}
.gift-icon{display:inline-block;width:21px;height:21px;background:url(../images/gift_icon.png) no-repeat; position: absolute;right:0;top:0;}
.solutions ul{padding-top:45px;}
.solutions li{}
.solutions-box{background:#fff; position: relative;border-bottom:5px #d2d2d2 solid;padding:80px 20px 40px;box-shadow:0px 0px 6px #ccc}
.solutions-icon{ position: absolute;max-width:104px;left:12px;top:-50px;}
.solutions-icon img{width: 100%;}
.solution-link p{ margin: 14px 0;}
.solution-link a{color:#3e3a3b; background: url(../images/link-icon.png) no-repeat left 7px;display:inline-block;padding-left: 30px;}
.solution-link a:hover{color:#e73d3e;}
@media only screen and (max-width:992px) {
    .solutions-icon{position: static;top:auto;max-width: 90px;float:left;width: 25%;}
    .solutions-box{padding:20px;}
    .solutions ul{padding-top: 0;}
    .solutions li{ margin-bottom: 2%;}
    .solution-link{float:left;padding-left: 5%;padding-top: 2%;width: 75%;}
    .solution-link p{ margin: 0 0 10px;}
}
@media only screen and (max-width:767px) {
    .solutions-box{box-shadow: none;}
    .solutions-icon{max-width: 75px;}
    .solution-link a{font-size:14px;}
    .solution-link{padding-top: 0}
}
@media only screen and (max-width:480px) {
    .solutions-icon{max-width: 60px;}
    .solution-link p{ margin-bottom: 5px;}
}

/************Success Case******************/
.success-case{ background: url(../images/case-bg.png) no-repeat center bottom #e5e1d8;}
.success-case li{ text-align: center;width:20%;padding:0 10px;float:left;}
.success-case li img{width:100%; margin-bottom: 15px;transition: .5s; vertical-align: bottom}
.success-case li h6{line-height: 1.5; margin-bottom: 20px;color:#3e3a3b; transition: .5s;}
.success-case a{ text-align: center;}
.success-case a:hover h6{color:#e73d3e;}
.success-case a:hover img{opacity:0.8;}
@media only screen and (max-width:992px) {
    .success-case li{width:25%;}
    .success-case li h6{font-weight: normal;font-size: 14px; text-align: left}
}
@media only screen and (max-width:767px) {
    .success-case li{width:33.3333%;}
}
@media only screen and (max-width:480px) {
    .success-case li{width:50%}
}

/*****************Videos********************/
.videos li{ text-align: center}
.video-box{position: relative;}
.videos a i{ margin-top: 23%;font-size:60px;}
.videos a p{color:#3e3a3b;}
.video-box{ margin-bottom: 15px;}
.videos a:hover p{color:#e73d3e}
@media only screen and (max-width:992px) {
    .videos a p{font-size:14px; text-align: left}
    .videos a i{font-size:50px;}
}
@media only screen and (max-width:767px) {
    .videos li{ margin-bottom:20px}
    .video-box{ margin-bottom:10px;}
}
@media only screen and (max-width:480px) {
    .videos a i{font-size:40px;}

}

/*********File Download****************/
.file-download li{ margin-bottom: 10px;}
.file-download li a{color:#333;display:inline-block;background:url(../images/download-icon.png) no-repeat left 3px;padding-left:30px;background-size:15px;}
.file-download li a:hover{color:#d83530}
@media only screen and (max-width:992px) {
    .file-download li a{font-size:14px; background-size:12px;padding-left:20px;}
}


/**********æ´»åŠ¨é¡µ*************/
.active-info h3{ text-align:center;font-size:32px;font-weight: normal; margin-bottom: 40px;}
.active-info article p{font-size:16px;line-height:1.7; margin-bottom: 10px;}
.active-info article{width: 80%;margin:0 auto;text-align: center; }
@media only screen and (max-width:992px) {
    .active-info h3{font-size:24px; margin-bottom: 20px;}
    .active-info article p{font-size:14px;}
}
@media only screen and (max-width:767px) {
    .active-info article{width:100%; text-align: left}
}




/*Agenda*/
.agenda-con{width:80%;margin:0 auto;}
.agenda_table,.child_table{display: table;width:100%;border-collapse: collapse;border-spacing:0;border-width:0px;padding:0;}
.child_table{border-collapse: collapse;border-width:0px; border-style:hidden;}
.agenda_table.ie8 .second_col{border-right:none!important;border-left:none!important;}
.agenda_table.ie8 .child_table{border-style:none;margin:-1px;border-right:none;}
.agenda_table.ie8 .col_td li{border-right:none;}
.agenda_table.ie8 .r_box li{border-left:none;}
.table_row{display: table-row}
.table_row section{display:table-cell;border:1px #cfd1d3 solid; vertical-align: middle;border-right:none;color:#666;padding:10px 20px;}
.second_col{display:table-cell;border:1px #cfd1d3 solid;}
.second_col ul{display:table-row}
.second_col ul li{display:table-cell;border:1px #cfd1d3 solid;padding:10px 20px;color:#666; vertical-align: middle;}
.left_table ul li:first-child{width:130px;}
.second_col ul li.col_td{padding:0}
/*è¡¨å¤´*/
.title_th section{background:#e0e0e0;font-weight:bold;width:140px;}
.title_th .second_col ul li,.title_li{background:#e0e0e0;font-weight:bold;}
@media only screen and (max-width:992px) {
    .table_row section,.second_col ul li{font-size:14px;padding-top: 5px;padding-bottom: 5px;}
}
@media only screen and (max-width:767px) {
    .agenda-con{width:100%;}
    .title_th.table_row{display:none;}
    .agenda_table,.table_row,.table_row section,.second_col,.child_table,.second_col ul,.second_col ul li{display:block;}
    .table_row section,.second_col,.second_col ul li{border:none;}
    .table_row section{background:#e0e0e0;font-weight:bold;padding:5px 10px;}
    .second_col,.second_col ul li.title_li{padding:5px 10px;}
    .second_col ul li:first-child{width:100%;}
    .second_col ul li{padding:0;}
    .second_col ul{padding:5px 0}
    .table_row{ margin-bottom: 10px;}
    .right_table .second_col{padding:0}
    .right_table .second_col ul.title_ul{padding:5px 0}
    .right_table ul{padding:5px 10px}
    .none_ul{display:none!important;}
}


/***********æ³¨å†Œå¼¹æ¡†****************/
.popup-reg{display:none;position: fixed;width:100%;height:100%;background:url(../images/alpha_60.png);z-index:200;left:0;top:0;}
.reg-box{ position: fixed;width: 520px;height: 370px;z-index: 201;background:#eee;left:50%;top:50%;margin-left: -260px;margin-top: -215px;padding: 60px 0 0;border-radius:10px}
.reg-box.height{height: 450px;margin-top: -255px;}
.reg-ok{display:none;position: fixed;width:100%;height:100%;background:url(../images/alpha_60.png);z-index:200;left:0;top:0;}
.reg-success{z-index:201;position: fixed;width:450px;height:300px;left:50%;top:50%; margin-left: -225px;margin-top: -150px;background:#eee;border-radius: 5px;padding: 30px 0 0;}
.reg-success p{background:url(../images/sucess-icon.png) no-repeat center top;padding-top:120px;color:#333;font-size:20px; text-align: center}
.reg-success a.confirm-ok{display:block;width:130px;height:35px;line-height:35px;color:#fff;background:#d83530; text-align: center;margin:30px auto 0;border-radius: 20px;}
.form-con{width:400px;margin:0 auto;}
.form-block{  margin-bottom:10px;}
.block-wrap{border:1px #c0c0c0 solid;height:48px;padding-left:50px;position: relative;border-radius:30px;}
.form-block .prompt{color:#e50000; text-align: center;font-size:14px;padding:5px 0 0}
.input-icon{display:block; position:absolute;width:20px;height:20px;left:25px;top:13px; background: url(../images/form-icon.png) no-repeat;}
.username-icon{background-position: 0 0;}
.company-icon{background-position: 0 -20px;}
.mail-icon{background-position: 0 -40px;}
.phone-icon{background-position: 0 -60px;}
.form-block input{border:none;background: none;height:46px;line-height:46px;font-size:14px;width: 90%;padding:0 10px 0 10px;-webkit-outline:none;outline:none;}
.form-login-btn{width:100%;height:50px;line-height:43px; text-align: center;border:none;background:#d83530;color:#fff;font-size:18px;border-radius:30px; margin-top: 20px; }
.form-login-btn:hover{background:#e50000}
.form-login-btn.disabled{background:#ccc;color:#e7e7e7;}
.tips-error{display:none;text-align: center;color:#e50000;font-size:14px; margin-bottom:15px;}
.close-popup{display:block;width:28px;height:28px;background:url(../images/close_popup.png) no-repeat; position: absolute;top:20px;right:30px;}

/*---=S Public footer---------*/
.back-top{display:none;position: fixed;width:46px;height:46px;right:30px;bottom:20px;background:#fff;border:1px #ccc solid;}
.back-top a{display:block; text-align: center;width:46px;height:46px;}
.back-top i{font-size:30px;color:#5c5c5c;display:block;padding-top: 9px;}
footer{background:#333;padding:50px 0 0;}
footer div ul{color:#fff;margin-bottom:50px;}
footer div ul li h3{font-size:20px;color:#fff;line-height:36px;text-transform:uppercase;font-weight:normal;margin-bottom:20px}
footer div ul li p{margin-bottom: 20px;color:#fff;}
footer div ul li a.more{display: inline-block;line-height: 28px;height:28px;width:128px;border: 1px solid #818181;text-align: center;font-size: 12px;color:#818181; }
footer div ul li a.more:hover{color: #fff;background: #818181;}
footer div ul li.footer-r .contact-way a{display: inline-block;padding-left: 27px;color:#fff;margin-right:25px;}
footer div ul li.footer-r .contact-way a:hover{color:#888;}
footer div ul li.footer-r .contact-way a.mail{background: url(../images/icon-contact.png) left 8px no-repeat;}
footer div ul li.footer-r .contact-way a.tel{background: url(../images/icon-contact.png) left -36px no-repeat;}
footer div ul li.footer-r .contact-way a.find{background: url(../images/icon-contact.png) left -82px no-repeat;}
footer div ul li .erweima a{padding:6px;border: 1px solid #c1c1c1;display: inline-block;}
footer div ul li .media{display: table;width: 100%;margin-top: 20px;}
footer div ul li .media a{display: table-cell;width: 50px;height: 50px;float: left;margin-right: 20px;}
footer div ul li .media a.f{background: url(../images/icon-media.png) left top no-repeat;}
footer div ul li .media a.f:hover{background-position: left -70px;}
footer div ul li .media a.in{background: url(../images/icon-media.png) -70px top no-repeat;}
footer div ul li .media a.in:hover{background-position: -70px -70px;}
footer div ul li .media a.t{background: url(../images/icon-media.png) -140px top no-repeat;}
footer div ul li .media a.t:hover{background-position: -140px -70px;}
footer div ul li .media a.tube{background: url(../images/icon-media.png) -210px top no-repeat;}
footer div ul li .media a.tube:hover{background-position: -210px -70px;}
.download {display: none;}
.download a {font-size: 12px;color: #818181;border: 1px solid #818181;display: block;width: 115px;text-align: center;line-height: 28px;height: 28px; width: 128px;}
.download a:hover {color: #fff;background: #818181;}
.copyright {text-align: center;font-size: 12px;line-height: 36px;background:#474747;color:#fff;}
@media only screen and (max-width:992px) {
    footer{padding: 30px 0 0}
    footer div ul{margin-bottom: 0}
    footer div ul li.footer-l,footer div ul li.footer-r {margin-bottom: 24px;}
    footer div ul li.footer-r .contact-way a {margin-bottom: 12px;}
    .download{display:block;}
    .erweima{display:none;}
    footer div ul li a.more,.download a {height:35px;line-height:35px;}
    .download a {margin-top:10px}
    footer div ul li h3{font-size:16px;line-height:32px; margin-bottom: 10px;}
    footer div ul li p{ margin-bottom: 10px;}
    footer div ul li p,footer div ul li a{ font-size:14px;}

}
/*---=E Public footer---------*/
/*åŠ è½½å‰loadingæ¡*/
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
.loader{ position:fixed;width:100%;height:100%;z-index:999;background:#fff;left:0;top:0}
.loader-inner{width:100px;height:25px;left:50%;top:50%; margin-top:-12.5px;margin-left:-50px; position:absolute;}
.ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > div {
    background-color: #e50000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block; }
/*åŠ è½½å‰loadingæ¡*/