@charset "utf-8";

/* common */
body {
    margin: 0;
    font-family: Hiragino Sans GB, 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a {
    transition: 0.5s linear;
    -moz-transition: 0.5s linear; /* Firefox 4 */
    -webkit-transition: 0.5s linear; /* Safari 和 Chrome */
    -o-transition: 0.5s linear;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.l {
    float: left;
}

.r {
    float: right;
}

.white {
    color: #fff;
}

.red {
    color: #e52e2e;
}

.db {
    display: block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt45 {
    margin-top: 45px;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

img {
    max-width: 100%;
    border: none;
}

/* top */
.pageTop {
    height: 60px;
}

.logo {
    margin-top: 10px;
}

.topMenu {
}

.topMenu_icon {
}

/* banner */
.banner2 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner2 ul {
    clear: both;
    overflow: hidden;
}

.banner2 li {
    position: relative;
    float: left;
}

.banner2 li.current {
    display: block;
}

.banner2 .bannerImg {
    display: block;
}

.banner2 .bannerImg.mobile {
    display: none;
}

.banner2 .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner2 .content {
    padding-top: 60px;
    margin-left: 21%;
    clear: both;
    overflow: hidden;
}

.banner2 .second .content {
    padding-top: 35px;
}

.banner2 .bannerLogo {
    float: left;
    margin: 22px 6% 0 0;
    height: 123px;
}

.banner2 .bannerLogo img {
    max-height: 100%;
    max-width: auto;
}

.banner2 .second .bannerLogo {
    margin: -4px 6% 0 0;
    height: 110px;
}

.banner2 .contRight {
    float: left;
}

.banner2 h2 {
    font-size: 52px;
}

.banner2 h3 {
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: normal;
    margin: 11px 0 10px 0;
}

.banner2 p {
    font-size: 18px;
    padding: 0 0 15px 0;
    font-weight: bold;
    line-height: 150%;
}

.banner2 h4 {
    width: 100%;
    font-size: 20px;
    margin: 13px 0 20px;
    border-top: 2px solid #000;
    padding-top: 17px;
}

.banner2 a {
    display: inline-block;
    background: #e52e2e;
    color: #fff;
    font-size: 120%;
    padding: 12px 40px;
    border: 3px solid #e52e2e;
}

.banner2 a:hover {
    background: #fff;
    color: #e52e2e;
}

.banner2 .first .content {
}

.banner2 .first {
}

.banner2 .first .bannerLogo {
}

.banner2 .first h2 {
    margin-top: 25px;
}

/*banner 分页*/
.pagesBottom {
    position: absolute;
    bottom: 20%;
    left: 50%;
}

.pagesBottom span {
    display: inline-block;
    padding: 6px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.pagesBottom span.current {
    background: #000;
}

/* nav */
.nav {
    background: #e52e2e;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    height: 90px;
}

.nav .hover_line {
    width: 20%;
    background: #b01616;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: 0;
    overflow: hidden;
    transition: all 0.5s linear 0.2s;
}

.nav a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    width: 20%;
    padding: 21px 0;
}



.nav a span {
    display: block;
    height: 47px;
    line-height: 47px;
    border-right: 1px solid #fff;
}

.nav a.last span {
    border: none;
}

/* main */
.main.index {
    background: url(../images/shuzi/bg.jpg) no-repeat center bottom;
    padding-bottom: 38px;
}

.main h1, .container h1 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    padding: 77px 0 42px;
    margin: 0;
}

.main .indexVideo {
    float: left;
    width: 55.5%;
    height: 343px;
    position: relative;
}

.main .indexVideo img {
    /* position:absolute; */
    width: 100%;
    display: block;
}

.main .indexVideo a {
    display: block;
    position: relative;
    height: 100%;
}

.main .indexVideo .content {
    position: absolute;
    bottom: 45px;
    right: 25px;
    color: #fff;
    font-size: 18px;
    line-height: 180%;
}

.main .indexVideo .name {
    font-size: 24px;
}

.main .description {
    float: right;
    background: #de2d2d;
    width: 44%;
    color: #fff;
    font-size: 15px;
    line-height: 190%;
}

.main .desc_content {
    padding: 37px 45px 0;
}

.main .descTitle {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 17px;
}

.main .line {
    font-size: 18px;
    line-height: 100%;
    height: 1px;
    margin-bottom: 20px;
}

.downloadBtn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    border: 3px solid #fff;
    padding: 6px 64px;
    margin: 23px 0 35px;
    line-height: 160%;
}

.downloadBtn i {
    float: left;
    background: url(../images/cssimages.png) no-repeat -78px 0px;
    width: 12px;
    height: 16px;
    margin: 5px 9px 0 0;
}

.downloadBtn:hover {
    background: #fff;
    color: #e52e2e;
}

.downloadBtn:hover i {
    background-position: -95px 0px;
}

/* float list */
.floatList {
    clear: both;
    overflow: hidden;
    margin: 30px -30px 0 0;
}

.floatList > li {
    float: left;
    width: 33.3%;
    margin-bottom: 30px;
}

.floatList .liBox {
    margin-right: 15px;
}

.floatList .listImg {
    position: relative;
}

.floatList .listImg img {
    width: 100%;
    display: block;
}

.floatList .listImg .listTitle {
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.floatList .listTitle * {
    font-weight: normal;
}

.floatList .listImg .listTitle h4 {
    font-size: 16px;
    margin: 9px 10px 18px;
    line-height: 150%;
}

.floatList .subList {
    font-size: 16px;
    border-bottom: 3px solid #de2d2d;
    background: #fff;
    padding: 17px 0 18px;
    height: 180px;
}

.floatList .subList li {
    line-height: 230%;
    background: url(../images/listIcon.png) no-repeat left 8px;
    padding-left: 29px;
    margin: 0 30px;
}

.floatList.noSpace .liBox {
    margin-right: 0;
}

/* footer */
.footer {
    background: #191919;
    color: #818181;
    padding: 40px 0 0;
    line-height: 200%;
}

.footer h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.contact {
    line-height: 150%;
}

.contact .db {
    color: #898989;
    display: block;
    padding-bottom: 10px;
}

.footer .contact i {
    float: left;
    background: url(../images/cssimages.png) no-repeat;
    width: 16px;
    height: 20px;
    margin-right: 12px;
}

.footer .address i {
    background-position: 1px 1px;
    height: 20px;
}

.footer .email i {
    background-position: -18px 6px;
    height: 20px;
}

.footer .link i {
    background-position: -58px 1px;
}

.footer .codeImg {
    margin-right: 20px;
}

.footer .media {
    float: left;
    margin-top: 22px;
}

.footer .media a {
    display: table-cell;
    width: 50px;
    height: 51px;
    float: left;
    margin-right: 20px;
}

.footer .media a.f {
    background: url(../images/icon-media.png) left top no-repeat;
}

.footer .media a.f:hover {
    background-position: left -70px;
}

.footer .media a.in {
    background: url(../images/icon-media.png) -70px top no-repeat;
}

.footer .media a.in:hover {
    background-position: -70px -70px;
}

.footer .media a.t {
    background: url(../images/icon-media.png) -140px top no-repeat;
}

.footer .media a.t:hover {
    background-position: -140px -70px;
}

.footer .media a.tube {
    background: url(../images/icon-media.png) -210px top no-repeat;
}

.footer .media a.tube:hover {
    background-position: -210px -70px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #222121;
    padding: 35px 0;
    margin-top: 64px;
}

/* 重塑IT */
.itDesc {
    margin: 85px 0 0;
    position: relative;
    height: 400px;
}

.itLeader {
    /* float:right; *//* width:44.5%; *//* max-width:100%; */
    position: absolute;
    right: 20px;
    bottom: 0;
}

.itLeader img {
    display: block;
    margin: 0 auto;
}

.leaderName {
    line-height: 130%;
    margin: 26px 0 30px;
}

.itDescContent {
    float: left;
    width: 49%;
    font-size: 20px;
    line-height: 200%;
    background: url(../images/it/yh1.png) no-repeat;
    padding: 10px 0 0 73px;
    box-sizing: border-box;
    position: relative;
}

.itDesc .videoBtn {
    display: inline-block;
    border: 2px solid #e52e2e;
    text-align: center;
    font-size: 18px;
    color: #e85252;
    padding: 13px 30px 9px;
    margin: 0 35px 25px 0;
    line-height: 100%;
    min-width: 112px;
}

.itDesc .videoBtn i {
    float: left;
    background: url(../images/cssimages.png) no-repeat -114px 0px;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0 0;
}

.itDesc .videoBtn:hover {
    background: #e52e2e;
    color: #fff;
}

.itDesc .videoBtn:hover i {
    background-position: -138px 0px;
}

.itDescList.floatList .subList {
    height: auto;
}

.productList {
    margin-top: 18px;
}

.productList a {
    float: left;
    width: 33.33%;
    font-size: 16px;
    text-align: center;
    line-height: 150%;
}

.productList .icon {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/it/itIcon.png) no-repeat left center;
    margin: 0 auto 20px;
}

.productList .icon1 {
    background-position: 5px center;
}

.productList .icon2 {
    background-position: -60px center;
}

.productList .icon3 {
    background-position: -125px center;
}

.productList .icon4 {
    background-position: -192px center;
}

.productList .icon5 {
    background-position: -259px center;
}

.productList .icon6 {
    background-position: -326px center;
}

.productList .icon7 {
    background-position: -390px center;
}

.productList .icon8 {
    background-position: -456px center;
}

.productList .icon9 {
    background-position: -522px center;
}

.floatList.col4 li {
    width: 25%;
}

.floatList.videoList .listTitle {
    position: static;
    color: #000;
    margin-top: 17px;
    font-size: 18px;
    text-align: center;
}

.downloadBtn.redColr {
    color: #e52e2e;
    font-size: 18px;
    border: 3px solid #e52e2e;
    margin: 0 auto;
}

.downloadBtn.redColr i {
    background-position: -95px 0px;
    margin-top: 4px;
}

.downloadBtn.redColr:hover {
    background: #e52e2e;
    color: #fff;
}

.downloadBtn.redColr:hover i {
    background-position: -78px 0;
}

.videoList li .play_btn {
    display: block;
    width: 100%;
    background: url(../images/it/video_btn2.png) no-repeat center center;
    height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.videoList li .video_a {
    display: block;
    position: relative
}

.video_a .play_btn:before {
    content: "";
    display: block;
    width: 38px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
    background: url(../images/it/video_btn3.png) no-repeat center center;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.videoPlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
}

.videoPlay:hover {
    background: rgba(0, 0, 0, 0.2);
}

.videoPlayBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    border: 3px solid #fff;
    padding: 15px 20px 15px 25px;
    border-radius: 50%;
    background: rgba(190, 190, 190, 0.4);
    transition: all 0.3s;
    transform: scale(1);
}

.videoPlay:hover .videoPlayBtn {
    background: rgba(229, 46, 46, 0.2);
    transform: scale(1.1);
}

.videoPlay .videoPlayBtn i {
    display: inline-block;
    border-left: 19px solid #fff;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    line-height: 100%;
}

.videoList.floatList .listImg a {
    display: block;
}

.caseShare {
    background: url(../images/it/bg.jpg) no-repeat center bottom;
    margin-top: 85px;
}

.caseShare h1, .story h1 {
    padding: 60px 0 12px;
}

.floatList.tuwen .listTitle {
    font-size: 18px;
    background: #fff;
    border-top: 3px solid #e52e2e;
    padding: 24px 20px 0 20px;
    line-height: 170%; /* height:110px; */
}

.caseShare .floatList.tuwen .listTitle {
    height: 110px;
}

.story .floatList.tuwen .listTitle {
}

.caseShare .downloadBtn {
    padding: 9px 97px;
}

.caseShare .downloadBtn i {
}

.floatList.tuwen .more a {
    display: block;
    color: #e52e2e;
    font-size: 13px;
    line-height: 190%;
    border: 1px solid #e52e2e;
    padding: 0px 14px;
    width: 52px;
    text-align: center;
    margin-left: 20px;
    transform: translateY(50px);
    transition: all 0.5s 0.1s;
}

.floatList.tuwen .liBox .more {
    height: 0;
    transition: all 0.5s 0.1s;
    position: relative;
    z-index: 0;
}

.floatList.tuwen .liBox:hover .more {
    height: 50px;
}

.floatList.tuwen .liBox:hover .more a {
    transform: translateY(0px);
    background: #e52e2e;
    color: #fff;
}

.floatList.tuwen .more:hover a {
    background: #e52e2e;
    color: #fff;
}

.caseShare .more2 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-bottom: 60px;
}

.caseShare .more2:hover {
    color: #e52e2e;
}

.floatList.tuwen .listImg {
    margin: 0;
    width: 100%; /* height:206px; */
    overflow: hidden;
}

.floatList.tuwen .listImg img {
    position: relative;
    z-index: 1;
}

.story .floatList.tuwen .listImg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.floatList.tuwen .liBox {
    /* height:345px; */
    background: #fff;
    position: relative;
}

.redBg {
    background: #e52e2e url(../images/it/bg2.jpg) no-repeat center top;
    height: 220px;
    padding-bottom: 40px;
}

.redBg .floatList {
    margin-top: 0;
    margin-right: -30px;
}

.floatList .liBox {
    margin-right: 30px;
}

.redBg .downloadBtn {
    padding: 6px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

.redBg .downloadBtn i {
    display: inline-block;
    float: none;
}

/* 生态圈 */
.grayBg {
    background: #efefef;
}

.yuanjing {
    padding: 0 0 86px 77px;
}

.yuanjing .inner {
    padding-right: 86px;
    text-align: center;
}

.yuanjing .content {
    font-size: 18px;
    line-height: 170%;
    padding-top: 8px;
    margin-bottom: 40px;
}

.yuanjing .content h1 {
    text-align: left;
    padding: 0 0 20px;
    margin-top: -60px;
}

.yuanjing .content p {
    text-align: left;
    color: #191919;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    word-spacing: 5px;
}

.container .ul1 {
    padding-top: 30px;
}

.container .ul1 li {
    float: left;
    width: 50%;
}

.container .ul1 li img {
    float: left;
}

.container .ul1 li .div2 {
    float: left;
    width: 360px;
    margin-left: 30px;
}

.container .ul1 li .div2 h2 {
    text-align: left;
    padding: 10px 0;
    font-size: 28px;
    font-weight: 400;
}

.container .ul1 li .div2 h3 {
    text-align: left;
    padding: 0 0 20px;
    font-size: 18px;
    font-weight: 400;
}

.container .ul1 li .div2 p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 15px;
    line-height: 36px;
    padding-bottom: 90px;
}

/*大奖放送*/
.big .ul2 {
    width: 100%;
    margin: 0 auto;
}

.big .ul2 li {
    width: 25%;
    float: left;
    text-align: center;
}

.big .ul2 li img {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
}

.big .ul2 li h2{

    font-size: 18px;
    font-weight: 400;
    word-spacing: 5px;
    line-height: 40px;
}
.big .ul2 li img.img1 {
    max-width: 215px;
    margin: 0 auto;
}
.mar9{
   clear: both;
    padding-top: 70px;
    margin: 0 auto 210px;
}
.huoban {
    margin: 0 -20px 86px 0;
    text-align: center;
}

.huoban li {
    display: inline-block;
    width: 180px;
}

.huoban .logo {
    display: block;
    border: 1px solid #e5e5e5;
    margin: 0 20px 20px 0;
    cursor: default;
}

.huoban .logo i {
    display: block;
    height: 100px;
    width: 117px;
    background: url(../images/stq/logoList.png) no-repeat left center;
    margin: 0 auto;
}

.huoban .logo1 i {
    width: 116px;
}

.huoban .logo2 i {
    background-position: -120px center;
}

.huoban .logo3 i {
    background-position: -240px center;
    width: 110px;
}

.huoban .logo4 i {
    background-position: -354px center;
    width: 103px;
}

.huoban .logo5 i {
    background-position: -463px center;
    width: 126px;
}

.huoban .logo6 i {
    background-position: -593px center;
    width: 142px;
}

.huoban .logo7 i {
    background-position: -737px center;
    width: 147px;
}

.huoban .logo8 i {
    background-position: -889px center;
    width: 121px;
}

.huoban .logo9 i {
    background-position: -1015px center;
    width: 59px;
}

.huoban .logo10 i {
    background-position: -1080px center;
    width: 131px;
}

.huoban .logo11 i {
    background-position: -1219px center;
    width: 143px;
}

.huoban .logo12 i {
    background-position: -1369px center;
    width: 115px;
}

.story {
    background: url(../images/stq/bg.jpg) no-repeat center bottom;
    padding-bottom: 162px;
}

.story .floatList .liBox {
    height: 444px;
    font-weight: 400;
}

.story .listTitle {
    /* height:auto; */
}

.story .listContent {
    margin: 13px 20px 0;
    line-height: 170%;
    font-size: 13px;
}

.story .more {
}

/* 大事件 */
.eventList {
}

.eventList li {
    float: left;
    width: 50%;
}

.eventList li.odd {
}

.eventList li.even {
    margin-top: 137px;
}

.eventList li .liBox {
    position: relative;
}

.eventList li.odd .liBox {
    border-right: 3px solid #e52e2e;
    padding: 0 56px 110px 0;
}

.eventList li.even .liBox {
    border-left: 3px solid #e52e2e;
    margin-left: -3px;
    padding: 0 0 65px 56px;
}

.eventList li.year {
}

.eventList li.year h3 {
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    background: #fff;
    padding: 5px;
    margin-right: -85px;
    color: #e52e2e;
}

.eventList li.year h3 i {
    background: #e52e2e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    right: 18px;
}

.eventList .round {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #e52e2e;
    position: absolute;
    left: -12px;
    top: 35px;
}

.eventList li.odd .round {
    left: auto;
    right: -12px;
}

.eventList .listTitle {
    background: #e52e2e;
    color: #fff;
    font-size: 20px;
    padding: 19px 30px;
    position: relative;
    cursor: pointer;
}

.eventList .arrow {
    display: inline-block;
    border-right: 13px solid #e52e2e;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    position: absolute;
    left: -13px;
    top: 50%;
    margin-top: -12px;
}

.eventList li.even .arrow {
}

.eventList li.odd .arrow {
    left: auto;
    right: -26px;
    border-left: 13px solid #e52e2e;
    border-right: 13px solid transparent;
}

.eventList .month {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    float: left;
    border-right: 2px solid #fff;
    padding-right: 15px;
    margin-right: 12px;
    height: 44px;
    padding-top: 2px;
}

.eventList .title {
    line-height: 120%;
}

.eventList .listContent {
    display: none;
    border: 2px solid #e52e2e;
    padding: 20px 30px 25px;
    line-height: 180%;
}

.eventList .listContent img {
    display: block;
    width: 100%;
}

.floatList.yugao .listImg .listTitle {
    font-size: 18px;
    bottom: 16px;
}

.imgScrollWrap {
}

.imgScroll {
    position: relative;
    width: 100%;
    height: 455px;
    overflow: hidden;
    margin: -31px 0 25px;
}

.imgScroll li {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    margin: -14% 0 0 -25%;
    overflow: hidden;
    transition: all 0.5s linear;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
}

.imgScroll li.pre {
    left: 0;
    margin-left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 2;
}

.imgScroll li.current {
    width: 60%;
    margin: -16.5% 0 0 -30%;
    z-index: 10;
    opacity: 1;
    filter: alpha(opacity=100);
}

.imgScroll li.next {
    right: 0;
    left: 105%;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 2;
}

.imgScroll .bg {
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.imgScroll .current .bg {
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.imgScroll img {
    display: block;
}

.imgScroll .month {
    display: none;
    float: left;
    background: #e62e2e;
    padding: 25px 5px;
    color: #fff;
    font-size: 28px;
}

.imgScroll .month .year {
    display: none;
}

.imgScroll .current .month {
    display: block;
}

.imgScroll .title {
    display: none;
    float: left;
    width: 88%;
    font-size: 18px;
    margin: 60px 0 0 10px;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
}

.imgScroll .current .title {
    display: block;
}

.imgScroll p {
    position: absolute;
    width: 86%;
    left: 30px;
    bottom: 30px;
    overflow: hidden;
}

.imgScroll .current p {
    width: 95%;
    z-index: 10;
}

.monthList {
    height: 80px;
    position: relative;
    margin: 0 20px 80px;
}

.monthList .item {
    float: left;
    width: 25%;
    position: relative;
}

.monthList .listLine {
    background: #e62e2e;
    height: 2px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: 0px;
}

.monthList .year {
    float: left;
    font-size: 22px;
    color: #e52e2e;
    position: relative;
    font-style: italic;
}

.monthList .year.year2017 {
    position: absolute;
    right: -21px;
}

.monthList .item.li1 .year {
    margin-left: -20px;
}

.monthList .year i {
    display: block;
    font-size: 0;
    width: 14px;
    height: 14px;
    background: #e52e2e; /* border-radius:50%; */
    border: 2px solid #e52e2e;
    margin: 14px auto 0;
}

.monthList .subList {
    float: right;
    margin: 70px 0 0 0;
    width: 70%;
}

.monthList .li3 .subList {
    width: 50%;
    float: left;
    margin-left: 20%;
}

.monthList .subList li {
    color: #e52e2e;
    font-size: 22px;
    float: left;
    text-align: center;
    position: relative;
    white-space: nowrap;
}

.monthList .subList li i {
    font-size: 0;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #e52e2e;
    margin: 13px auto 0;
    position: absolute;
    top: -44px;
    left: 50%;
    margin-left: -8px;
    cursor: pointer;
}

.monthList .subList li.current i {
    background: #e52e2e;
    border-color: #fff;
}

.monthList .item.li1 .subList li {
    width: 50%;
}

.monthList .item.li2 .subList li {
    width: 50%;
}

.monthList .item.li3 .subList li {
    width: 25%;
    white-space: nowrap;
}

.monthList .item.li4 .subList li {
    width: 80%;
}

.monthList .item.li5 {
    position: absolute;
    right: 0;
    width: auto;
}

/* 登录 */
.login {
    background: url(../images/login_bg.jpg) no-repeat center bottom;
}

.login .container {
    width: 920px;
    padding: 200px 0 225px;
}

.loginLeft {
    float: left;
    width: 290px;
    font-size: 18px;
    text-align: center;
    line-height: 170%;
}

.loginLogo {
    margin-bottom: 45px;
}

.loginRight {
    float: right;
    width: 450px;
}

.loginRight h1 {
    padding: 0;
    font-size: 48px;
    text-align: left;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 20px;
    margin-bottom: 42px;
}

.loginTitle {
}

.loginForm {
}

.loginForm li {
}

.loginForm label {
    display: block;
    font-size: 18px;
    color: #393939;
}

.loginForm .inputText {
    width: 95%;
    height: 45px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 15px 0 20px;
    padding: 0 10px;
}

.loginForm .textarea {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 15px 0 20px;
    width: 99%;
    height: 160px;
}

.loginForm .submitBtn {
    cursor: pointer;
    border: none;
    background: #e52e2e;
    color: #fff;
    width: 180px;
    height: 40px;
    font-size: 18px;
}

.loginForm .submitBtn:hover {
    background: #fff;
    color: #e52e2e;
    border: 2px solid #e52e2e;
    outline: none;
}

/*峰会介绍*/
.produceDetail {
    padding-bottom: 0;
    margin: 108px 0 100px;
}

.produceDetail .inner {
    padding-top: 15px
}

.produceDetail .content {
    margin: 0;
    padding: 0;
    margin-top: -32px;
    font-size: 22px;
    line-height: 180%;
}

.titleTab {
    margin: 0 -10px 0 0;
}

.titleTab li {
}

.titleTab li.current {
}

.titleTab .liBox {
    margin-right: 10px;
}

.titleTab a {
    border: 3px solid #e52e2e;
    display: block;
    padding: 9px;
    line-height: 140%;
    text-align: center;
    font-size: 18px;
    color: #e52e2e;
}

.titleTab a:hover, .titleTab li.current a {
    background: #e52e2e;
    color: #fff;
}

.contentTab {
    padding-bottom: 46px;
}

.contentTab li {
    display: none;
}

.contentTab li.current {
    display: block;
}

.contentTab th {
    font-size: 18px;
    padding: 0 25px;
    padding: 0 25px 0 10%;
    line-height: 70px;
    white-space: nowrap;
    text-align: left;
}

.contentTab td {
    font-size: 16px;
    padding: 15px 25px 15px 10%;
    line-height: 150%;
}

.contentTab .gray td {
    background: #dfdcdc;
}

/*.guests{}
.guests .liBox{text-align:center;color:#3a3535;}
.guests .photo{}
.guests .photo img{display:block;max-width:100%;margin:0 auto;}
.guests h4{font-size:18px;margin:20px 0 15px;}
.guests p{font-size:13px;line-height:180%;}*/
.imgListWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 341px;
}

.imgList {
    width: 1800px;
    position: absolute;
    left: 50%;
    margin-left: -900px;
    top: 0;
}

.imgList li {
    float: left;
    width: 33.3%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -16.5%;
    transition: all 0.5s linear 0s;
    opacity: 0;
    filter: alpha(opacity=0);
}

.imgList li.pre {
    left: 16.8%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.imgList li.next {
    left: 83.3%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.imgList li.current {
    z-index: 10;
    opacity: 1;
    filter: alpha(opacity=100);
}

.imgList .bg {
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.imgList .current .bg {
    opacity: 0;
    filter: alpha(opacity=0);
}

.imgList img {
    display: block;
}

.imgListWrap .pages {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
}

.imgListWrap .pages .btn {
    position: absolute;
    background: url(../images/pro/arrow.png) no-repeat;
    width: 34px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
}

.imgListWrap .btn.prevBtn {
    left: 22%;
}

.imgListWrap .btn.nextBtn {
    right: 21.5%;
    background-position: -41px 0;
}

.imgScroll img {
    display: block;
}

.imgScroll .month {
    display: none;
    float: left;
    background: #e62e2e;
    padding: 25px 5px;
    color: #fff;
    font-size: 28px;
}

.imgScroll .month .year {
    display: none;
}

.imgScroll .current .month {
    display: block;
}

.imgScroll .title {
    display: none;
    float: left;
    width: 88%;
    font-size: 18px;
    margin: 60px 0 0 10px;
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
}

.imgScroll .current .title {
    display: block;
}

.imgScroll p {
    position: absolute;
    width: 86%;
    left: 30px;
    bottom: 30px;
    overflow: hidden;
}

.imgScroll .current p {
    width: 95%;
    z-index: 10;
}

.monthList {
    height: 80px;
    position: relative;
    margin: 0 20px 80px;
}

.monthList .item {
    float: left;
    width: 25%;
    position: relative;
    height: 95px;
}

.monthList .listLine {
    background: #e62e2e;
    height: 2px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -1px;
}

.monthList .year {
    float: left;
    font-size: 22px;
    color: #e52e2e;
    position: relative;
    font-style: italic;
    line-height: 110%;
}

.monthList .year.year2017 {
    position: absolute;
    right: -21px;
}

.monthList .item.li1 .year {
    margin-left: -20px;
}

.monthList .year i {
    display: block;
    font-size: 0;
    width: 14px;
    height: 14px;
    background: #e52e2e; /* border-radius:50%; */
    border: 2px solid #e52e2e;
    margin: 14px auto 0;
    line-height: 100%;
}

.monthList .subList {
    float: right;
    margin: 70px 0 0 0;
    width: 70%;
}

.monthList .li3 .subList {
    width: 50%;
    float: left;
    margin-left: 20%;
}

.monthList .subList li {
    color: #e52e2e;
    font-size: 22px;
    float: left;
    text-align: center;
    position: relative;
    white-space: nowrap;
}

.monthList .subList li i {
    font-size: 0;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #e52e2e;
    margin: 13px auto 0;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -8px;
    cursor: pointer;
    line-height: 100%;
}

.monthList .subList li.current i {
    background: #e52e2e;
    border-color: #fff;
}

.monthList .item.li1 .subList li {
    width: 50%;
}

.monthList .item.li2 .subList li {
    width: 50%;
}

.monthList .item.li3 .subList li {
    width: 25%;
    white-space: nowrap;
}

.monthList .item.li4 .subList li {
    width: 20%;
}

.monthList .item.li5 {
    position: absolute;
    right: 0;
    width: auto;
}

@media screen and (max-width: 990px) {
    .titleTab a {
        height: 50px;
        vertical-align: middle;
        display: table-cell;
    }
}

@media screen and (max-width: 580px) {
    .titleTab {
    }

    .titleTab li {
    }

    .titleTab a {
        width: 100%;
        display: block;
        height: 80px;
        box-sizing: border-box;
        font-size: 12px;
    }

    .contentTab th {
        padding: 10px;
        line-height: 50px;
    }

    .contentTab td {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .floatList.guests li {
        width: 50%;
    }
    /*大奖*/
    .big .ul2 li {
        width:100%!important;
        float: left;
        text-align: center;
    }
    .yuanjing .inner {
         padding-right: 0px;
        margin-left: -60px;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .banner2 .bannerLogo {
        width: 13%;
    }

    .banner2 .content {
        padding-top: 50px;
    }

    .contRight h2 {
        font-size: 40px;
    }

    .contRight h3 {
        font-size: 24px;
    }

    .contRight p {
        font-weight: normal;
    }

    .contRight a {
        padding: 8px 40px;
    }

    .pagesBottom {
        bottom: 15px;
    }

    .nav {
        margin-top: 0;
    }

    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .floatList.noSpace {
        margin-right: 0;
    }

    .floatList .subList li {
        margin: 0 15px;
    }

    .floatList.videoList .listTitle {
        font-size: 14px;
    }

    .main .indexVideo {
        height: auto;
    }

    /*.floatList .subList li{line-height:180%;font-size:14px;}*/
}

@media screen and (max-width: 1100px) {
    .floatList .subList {
        height: 270px;
    }

    .itDesc {
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .itDescList.floatList .subList {
        height: 100px;
    }

    .floatList.itDescList .listImg .listTitle {
        margin-bottom: 0;
    }

    .floatList.itDescList .listImg .listTitle h4 {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 900px) {
    .banner2 .content {
        padding-top: 30px;
    }

    .banner2 .second .content {
        padding-top: 15px;
    }

    .contRight h2 {
        font-size: 36px;
    }

    .downloadBtn {
        padding: 6px 30px;
    }

    .story .floatList.tuwen .listTitle {
        font-size: 16px;
    }

    .productList a {
        font-size: 12px;
    }
    /*大奖*/
    .big .ul2 li {
        width: 50%;
        float: left;
        text-align: center;
    }





}
@media screen and (max-width: 820px){
    .container .ul1 li {
        float: left;
        width:100%;
    }
    .container .ul1 li div p{
        width: 90%!important;
    }
}

@media screen and (max-width: 768px) {
    .banner2 .bannerLogo {
        display: none;
    }

    .banner2 .bannerImg {
        min-height: 230px;
    }

    .banner2 h2 {
    }

    .banner2 .content {
        margin-left: 5%;
    }

    .banner2 .second h2 {
        font-size: 30px;
    }

    .banner2 .second h3 {
        font-size: 20px;
        letter-spacing: 0;
    }

    .contRight p {
        font-size: 16px;
    }

    .pageTop {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
        background: #fff;
    }

    .topMenu {
        display: block;
        cursor: pointer;
        margin-top: 22px;
    }

    .topMenu .line {
        display: block;
        width: 26px;
        height: 3px;
        background: #e52e2e;
        margin-bottom: 4px;
        transition: all 0.5s linear;
        overflow: hidden;
    }

    .topMenu .line1 {
        transform: rotate(0) translate(0);
    }

    .topMenu .line3 {
        transform: rotate(0) translate(0);
    }

    .topMenu.show .line1 {
        transform: rotate(45deg) translate(6px, 7px);
    }

    .topMenu.show .line2 {
        width: 0;
    }

    .topMenu.show .line3 {
        transform: rotate(-45deg) translate(3px, -4px);
    }

    .nav {
        position: fixed;
        z-index: 10;
        top: 50px;
        right: -90%;
        width: 80%;
        height: 100%;
        border-left: 1px #e6e6e6 solid;
        box-shadow: -2px -1px 5px #ccc;
        -webkit-box-shadow: -2px -1px 5px #ccc;
        background: #fff;
        padding: 0;
        transition: all 0.5s linear;
    }

    .nav.show {
        right: 0;
    }

    #wrapper {
        transition: all 0.5s linear;
        position: absolute;
        width: 100%;
        left: 0;
        top: 60px;
    }

    #wrapper.move {
        left: -80%
    }

    .nav a {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        color: #999;
        border-bottom: 1px #e6e6e6 solid;
        padding: 0;
    }

    .nav a span {
        border: none;
        height: 60px;
        line-height: 60px;
        padding: 0 25px;
    }

    .nav a.current {
        background: #e5e5e5;
        color: #e52e2e;
    }

    .main .indexVideo, .main .description {
        float: none;
        width: 100%;
    }

    .main .indexVideo {
        height: auto;
    }

    .floatList.col3 {
        margin-right: 0;
    }

    .floatList.col3 > li {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .floatList.col3 .liBox {
        margin-right: 0;
    }

    .floatList .subList li {
        margin: 0;
    }

    .itDescList.floatList .subList {
        height: auto;
    }

    .main.index {
        background: none;
    }

    .floatList .subList {
        border: none;
        height: auto;
    }

    .floatList .listImg .listTitle {
        margin-bottom: 15px;
    }

    .floatList .listImg .listTitle h4 {
        margin-bottom: 18px;
    }

    /* it */
    .itLeader, .itDescContent {
        width: 100%;
        position: static;
    }

    .itLeader {
        margin-bottom: 20px;
    }

    .itDescContent {
        margin-bottom: 25px;
    }

    .redBg {
        height: auto;
    }

    .redBg .floatList {
        margin-right: 0;
    }

    .caseShare {
        /* margin-top:0; */
        background: #4d3a2a;
    }

    .caseShare .downloadBtn {
        padding: 9px 90px;
    }

    .caseShare h1 {
        /* color:#000; */
    }

    .floatList.tuwen .listTitle {
        height: auto;
        padding-bottom: 20px;
    }

    .floatList.videoList li {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }

    .caseShare .floatList.tuwen .listTitle {
        height: 60px;
        padding: 15px 15px 0;
        font-size: 16px;
    }

    .caseShare .floatList.tuwen .liBox {
        margin-right: 15px;
    }

    /*生态圏*/
    .story {
        background: #365574;
        padding-bottom: 20px;
    }

    .story .floatList .liBox {
        height: auto;
    }

    .story .floatList.tuwen .listImg {
        /* position:static; */
    }

    .story .listContent {
        margin-bottom: 10px;
    }

    .story .floatList.tuwen .listTitle {
        /* padding-left:0; */
        /* padding-bottom:10px; */
    }

    .floatList.tuwen {
        margin-right: -20px;
    }

    .floatList.tuwen li {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }

    .story .floatList.tuwen .liBox {
        margin-right: 20px;
        height: 446px;
    }

    .story .floatList.tuwen .listTitle {
        height: 50px;
        padding-bottom: 0;
    }

    /* 大事件 */
    .eventList .listTitle {
        font-size: 16px;
    }

    .floatList.huigu {
        margin-right: -30px;
    }

    .floatList.huigu li {
        width: 50%;
        margin-bottom: 20px;
    }

    .huigu .downloadBtn {
        font-size: 14px;
    }

    .floatList.yugao li {
        width: 50%;
        margin-bottom: 30px;
    }

    .monthList .subList {
        width: 67%;
    }

    .monthList .li3 .subList {
        margin-left: 15%;
    }

    .imgScroll {
        height: 285px;
    }
}

@media screen and (max-width: 700px) {
    .monthList {
        display: none;
    }

    .imgScroll {
        height: auto;
    }

    .imgScroll .bg {
        display: none;
    }

    .imgScroll p {
        position: static;
        z-index: 12;
        margin-top: 15px;
        width: 100%;
    }

    .imgScroll .month, .imgScroll .title {
        display: block;
        margin: 0;
    }

    .imgScroll .month {
        float: left;
        padding: 3px 5px;
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
    }

    .imgScroll .title {
        float: left;
        color: #000;
        width: 78%;
        margin: 0 0 0 10px;
        white-space: normal;
    }

    .imgScroll .month .year {
        display: block;
        margin-top: 2px;
    }

    .imgScroll li, .imgScroll li.current, .imgScroll li.pre, .imgScroll li.next {
        float: none;
        margin: 0 0 25px;
        position: static;
        width: 100%;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@media screen and (max-width: 630px) {
    .floatList.itDescList li, .floatList.noSpace li {
        float: none;
        width: 100%;
    }

    .floatList.noSpace li {
        margin-bottom: 20px;
    }

    .productList a {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .banner a {
        font-size: 12px;
        padding: 1% 0 0.6%;
    }

    .main .indexVideo .content {
        bottom: 15px;
        right: 15px;
        font-size: 14px;
        line-height: 150%;
    }

    .main .indexVideo .name {
        font-size: 20px;
    }

    .caseShare .floatList.tuwen .listTitle {
        height: 95px;
        font-size: 16px;
    }

    .story .floatList.tuwen li {
        float: none;
        width: 100%;
    }

    .story .floatList.tuwen .listTitle {
        height: auto;
        padding-bottom: 0;
    }

    .floatList.videoList .listTitle {
        font-size: 16px;
        line-height: 150%;
    }

    .videoPlay {
        transform: scale(0.7);
    }

    .fullScreen {
        padding: 0 15px;
    }

    .story .floatList.tuwen .liBox {
        height: 490px;
    }

    /* 大事件 */
    .eventList li {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .eventList li .liBox {
    }

    .eventList li.even {
        margin: 0 0 20px;
    }

    .eventList li.year h3 {
        margin: 0;
        text-align: left;
    }

    .eventList li.year h3 i {
        display: none;
    }

    .eventList li.odd .liBox {
        padding: 0;
        border: none;
    }

    .eventList li.even .liBox {
        padding: 0;
        margin: 0;
        border: none;
    }

    .eventList .arrow {
    }

    .eventList .round {
        display: none;
    }

    .eventList .month {
    }

    .floatList.yugao .listImg .listTitle {
        font-size: 14px;
        bottom: 6px;
    }
}

@media screen and (max-width: 450px) {
    .story .floatList.tuwen .liBox {
        height: 440px;
    }

    .imgScroll .title {
        width: 75%;
    }
}

@media screen and (max-width: 320px) {
    .imgScroll .title {
        width: 70%;
    }
}

/* 用户注册表单 */
.subject {
    background: #e6e6e6;
}

.subject h1 {
    color: #666;
    font-size: 30px;
    line-height: 104px;
    font-weight: normal;
}

.rule {
    width: 100%;
    max-width: 1200px;
    margin: 24px auto 0;
    padding: 0px 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
}

.basic-info {
    margin: 24px 0 24px;
}

.basic-info .h2 {
    padding-top: 12px;
    border-top: 3px solid #ccc;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.input-wrap {
    margin-bottom: 20px;
    font-size: 16px;
}

.input-wrap span {
    width: 110px;
    float: left;
    display: block;
}

.input-wrap span em, .selection-box p em {
    color: #e50000;
    padding-right: 5px;
}

.input-wrap div {
    display: block;
    float: left;
    height: 30px;
    padding: 3px 5px;
}

.input-wrap .inputText {
    padding: 4px 5px;
    width: 40%;
    min-width: 200px;
}

.input-wrap .inputText.red {
    border: 1px dotted #E50000;
}

.input-wrap div label {
    float: left;
    cursor: pointer;
    margin-right: 15px;
}

.selection-box, .legal-notices {
    margin-top: 30px;
    font-size: 16px;
}

.selection-box p, .legal-notices p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.special2 label {
    display: block;
    float: left;
    overflow: hidden;
    padding: 0px 10px 10px;
}

.special2 input {
    float: left;
    margin: 1px 5px 0 0;
}

.selection-box label {
    margin-right: 20px;
    padding: 0px 10px 10px;
}

.selection-box input {
    margin-right: 5px;
}

.input-wrap p.prompt {
    color: #e50000;
    margin-top: 10px;
    margin-left: 110px;
    font-size: 14px;
}

#submitBtn {
    display: block;
    padding: 0px 50px;
    height: 40px;
    color: #fff;
    background: #e52e2e;
    border-radius: 5px;
    margin: 30px auto;
    font-size: 18px;
    cursor: pointer;
    border: 3px solid #e52e2e;
    outline: none;
}

#submitBtn:hover {
    background: #fff;
    color: #e52e2e;
}

/*注册成功页面样式 开始*/
.sucess {
    max-width: 600px;
    margin: 120px auto 180px;
    text-align: center;
}

.sucess span.sucess_max {
    background: url(../images/sucess-icon.jpg) no-repeat left bottom;
    background-size: 34px;
    font-size: 34px;
    line-height: 34px;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding-left: 20px;
}

.sucess span {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #333;
    margin-bottom: 24px;
}

.sucess a {
    color: #e50000;
}

/* loading */
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fff;
    left: 0;
    top: 0
}

.loader-inner {
    width: 100px;
    height: 25px;
    left: 50%;
    top: 50%;
    margin-top: -12.5px;
    margin-left: -50px;
    position: absolute;
}

.ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse > div {
    background-color: #e50000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}








