/*nav*/
body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    z-index: 99991;
    top: -1px;
}

.navbar-brand img {
    width: 203px;
}

.navbar-brand {
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 120px;
    height: auto;
}

.remind {
    background: #222;
    text-align: center;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    display: none;
}

.navbar-header {
    text-align: center;
    /*background: #ffffff;*/
}

.mo_show {
    display: none;
}

body {
    overflow-x: hidden;
    font-style: normal;
    font-family: "PingFang SC"
}

.navbar {
    line-height: 120px;
    margin: 0 !important;
    width: 100%;
    border-radius: 0;
}

.navbar .fist p {
    width: 50% !important;
}

.navbar-collapse {
    margin-left: 50px;
}

.navbar-nav li.fist {
    margin-left: 20px;
}

.navbar-nav {
    float: right;
}

.navbar .navbar-nav a {
    font-size: 20px !important;
    display: inline-block;
    color: #fff;
    line-height: 36px;
    margin: 0 35px;
    padding: 0 0 10px 0;
}

.navbar-nav li.active a {
    border-bottom: 3px solid #fff;
}

.navbar-nav li:hover a {
    background: none;
}

.navbar-nav li a.en {
    border: 1px solid #fff;
    padding: 0 20px;
    border-radius: 20px;
    margin: 0 40px;

}

.navbar-nav li .en img {
    margin: -2px 0px 0 5px;
}

.navbar-nav li .last_a {
    margin: 0;
}

.navbar-nav li p {
    height: 2px;
    width: 67%;
    margin: 0 auto;
    background: #e50011;
    transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
}

.navbar-nav li:hover p {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.left_slide {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.weixin em {
    background: url("../images/index/weixin.png") no-repeat center;
}

.weixin:hover em {
    background: url("../images/index/weixinhover.png") no-repeat center;
    background-size: 100% 100%;
}

.tianmao em {
    background: url("../images/index/tianmao.png") no-repeat center;
}

.tianmao:hover em {
    background: url("../images/index/tianmaohover.png") no-repeat center;
    background-size: 100% 100%;
}

.weibo em {
    background: url("../images/index/weibo.png") no-repeat center;
}

.weibo:hover p, .tianmao:hover p, .weixin:hover p {
    color: #fff;
}

.weibo:hover em {
    background: url("../images/index/weibohove.png") no-repeat center;
    background-size: 100% 100%;
}

.weixin em, .tianmao em, .weibo em {
    display: block;
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
    background-size: 100% 100%;
}



@media (min-width: 992px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
        width: auto;
    }
}

@media (max-width: 1440px) {
    .navbar .navbar-nav a {
        font-size: 18px !important;
        margin: 0 25px;
        padding: 0 0 10px 0;
    }

    .navbar .container {
        padding-left: 60px;
        padding-right: 60px;
        width: auto;
    }
}

@media (max-width: 1290px) {
    .navbar .navbar-nav a {
        font-size: 16px !important;
        margin: 0 20px;
        padding: 0 0 5px 0;
    }

    .navbar-nav li a.en {
        padding: 0 20px;
        border-radius: 20px;
        margin: 0 20px;
    }

    .navbar-brand img {
        width: 80% !important;
    }
}

@media (max-width: 1067px) {
    .navbar .navbar-nav a {
        font-size: 16px !important;
        margin: 0 14px;
        padding: 0 0 5px 0;
    }

    .navbar-nav li a.en {
        border: 1px solid #fff;
        padding: 0 20px;
        border-radius: 20px;
        margin: 0 20px;
    }

    .navbar-brand img {
        width: 80% !important;
    }

}

@media (max-width: 995px) {
    .navbar .navbar-nav a {
        font-size: 14px !important;
        margin: 0 10px;
        padding: 0;
    }

    .navbar-nav li a.en {
        border: 1px solid #fff;
        padding: 0 15px;
        border-radius: 20px;
        margin: 0 10px;
        line-height: 30px;
    }

    .navbar-brand img {
        width: 80% !important;
    }

    .last_a img {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .navbar .container {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 28px;
        border: 2px solid #fff;
        border-radius: 3px;
    }

    .navbar-toggle {
        margin: 15px;
    }

    .navbar-brand {
        margin-left: 15px;
        margin-top: 14px;
        line-height: 20px;
    }
    .navbar-brand img{
        width: 120px!important;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 7px;
        border-radius: 3px;
    }

    .navbar-toggle span:nth-of-type(3) {
        width: 19px;
    }

    .navbar-toggle {
        padding: 0.1rem 0.1333rem;
    }

    .navbar-nav {
        background: #ffffff;
        background: rgba(255, 255, 255, 0.96);
    }

    .navbar-nav li, .navbar-nav li.fist {
        text-align: center;
        margin-left: 0;
    }

    .navbar-nav li.active a {
        /*border-left: 0.0533rem solid #000;*/
        height: 0.8rem;
        line-height: 0.8rem;
        padding: 0;
        font-size: 0.3467rem !important;
    }

    .navbar_ul {
        position: absolute;
        top: -1px;
        width: 375px;
        display: none;
        z-index: 9999;
    }

    .navbar-nav li {
        margin: 0.6667rem 5px;
    }

    .navbar .container {
        padding: 0 !important;
    }

    .container > .navbar-header {
        margin: 0 !important;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
        width: 39.5% !important;
        background: #ffffff;
        padding-bottom: 12px;
        box-shadow: 4px 4px 20px 1px #ececec;
        margin: 0;
    }

    .navbar .navbar-nav a {
        margin-top: 6px;
    }

    .navbar-nav li a:active {
        background: #000;
    }

    .navbar-header {
        background: #00535d;
    }

}

/*foot*/
.foot_box {
    background: #00535D;
    margin-top: 120px;
}

.foot_box .icon {
    width: 392px;
    overflow: hidden;
    padding: 40px 0;
    margin: 0 auto;
}

.foot_box .icon li {
    float: left;
    width: 26px;
    height: 22px;
    margin-right: 35px;

}

.foot_box .icon li.a {
    background: url("../images/foot/a1.png") no-repeat center;
}

.foot_box .icon li.b {
    background: url("../images/foot/b1.png") no-repeat center;
}

.foot_box .icon li.c {
    background: url("../images/foot/c1.png") no-repeat center;
}

.foot_box .icon li.d {
    background: url("../images/foot/d1.png") no-repeat center;
}

.foot_box .icon li.e {
    background: url("../images/foot/e1.png") no-repeat center;
}

.foot_box .icon li.f {
    background: url("../images/foot/f1.png") no-repeat center;
}

.foot_box .icon li.g {
    background: url("../images/foot/g.png") no-repeat center;
}

.foot_box .icon li:hover.a {
    background: url("../images/foot/a.png") no-repeat center;
}

.foot_box .icon li:hover.b {
    background: url("../images/foot/b.png") no-repeat center;
}

.foot_box .icon li:hover.c {
    background: url("../images/foot/c.png") no-repeat center;
}

.foot_box .icon li:hover.d {
    background: url("../images/foot/d.png") no-repeat center;
}

.foot_box .icon li:hover.e {
    background: url("../images/foot/e.png") no-repeat center;
}

.foot_box .icon li:hover.f {
    background: url("../images/foot/f.png") no-repeat center;
}

.foot_box .icon li:hover.g {
    background: url("../images/foot/g1.png") no-repeat center;
}

.foot_box .icon li:last-child {
    margin-right: 0;
}

.foot_box .nav_box {
    width: 1164px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #1C6B74;
    padding-bottom: 30px;
}

.foot_box .nav_box li {
    float: left;
    padding: 0 78px;
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    letter-spacing: 0.18px;
}

.foot_box .nav_box li a {
    color: #5999A1 !important;
}

.foot_box .nav_box li a:hover {
    color: #15CBA1 !important;
}

.foot_box p {
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #5999A1;
    letter-spacing: 0;
    padding: 30px 0;
}