body{
    background:#f9f9f9 ;
}
.navbar .container{
    background: #00535d;
}
.banner_box{
    width: 100%;
    margin-top: 120px;
    padding: 73px 377px;
}
.banner_box h2{
    font-family: Arial-BoldMT;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 400;
}
.banner_box p{
    font-family: PingFangSC-Semibold;
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 25px;
}


.box1 {
    position: relative;
    margin: -155px auto 0;
    padding: 40px 115px 100px;
    max-width: 1400px;
    background: #fff;
    overflow: hidden;
}
.text_box{
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
}
.text_box p{
    width: 960px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #65676D;
    line-height: 40px;
    margin:30px auto;
}
.text_box img{
    width: 100%;
}
.list {

}
.list h2{
    margin: 65px 0 50px;
    font-family: PingFangSC-Semibold;
    font-size: 48px;
    color: #15CBA1;
    letter-spacing: 0.43px;
}
.list {
    position: relative;
    max-width: 1400px;
    background: #fff;
    overflow: hidden;
}
.list .container{
    padding: 0;
}

.list h2 {
    font-family: PingFangSC-Semibold;
    font-size: 48px;
    color: #15CBA1;
    letter-spacing: 0.43px;
    margin-bottom: 40px;
    width: 100%;
}

.list h2 a {
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    color: #5AD664;
    float: right;
    margin: 65px 0 50px;
}

.list .row img {
    width: 100%;
    margin-bottom: 30px;
}

.list .row p {
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #65676D;
    margin-bottom: 17px;
    padding: 0 22px;
}

.list .row span {
    font-family: Arial-BoldMT;
    font-size: 20px;
    color: #65676D;
    display: block;
    margin-bottom: 28px;
    padding: 0 22px;
}
.list .box.on p{
    color: #15CBA1;
}
.list .box.on span{
    color: #15CBA1;
}
.list .row a {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    color: #5AD664;
    display: block;
    padding: 0 22px;
    position: absolute;
    bottom:40px;
}

.list .row div.box {
    background: #F6F6F6;
    padding: 0 0 50px;
    position: relative;
}

.list .btn {
    background-image: linear-gradient(90deg, #5AD664 0%, #15CBA1 100%);
    font-family: AvenirNext-DemiBold;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 240px;
    margin: 40px auto 100px;
    border-radius: 50px;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.15);
}
.list{
    cursor: pointer;
}
.foot_box {
    margin-top: 75px;
}